.aroma-anchor {
    .card-size-mixin;
    background-color: @color-basis-white;
    position: relative;
}

.aroma-block {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aroma-block-row {
    display: flex;
    list-style-type: none;
}

.aroma-button {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: @color-basis-transparent;
    transition: color 100ms ease-in;
    transition: border-bottom-color 100ms ease-in;
    user-select: none;
    cursor: pointer;
}

.aroma-button:hover {
    border-bottom-color: @color-basis;
    transition: border-bottom-color 100ms ease-in;
}

.aroma-logo {
    color: grey;
    width: 14px;
    height: 14px;
    background-color: grey;
}

.aroma-text {
    line-height: 34px;
    padding: 2px 1px 0 0;
    // color: aqua;
    margin-left: 10px;
    // border: solid 1px red;
    transform: skew(-7deg);
}

.aroma-button.press-active {
    .add-press-button;
}

.aroma-button.active {
    color: @color-basis-hover;
    background-color: @color-basis;
    transition: color 75ms ease-in;
    transition: background-color 75ms ease-in;
}

.aroma-button.active:hover {
    color: @color-basis-white;
    transition: color 75ms ease-in;
}

.nav-additional-aroma:hover {
    user-select: none;
    cursor: default;
}

.aroma-make, .aroma-name {
    user-select: none;
}
