.aroma-anchor {
    .card-size-mixin;
    background-color: @color-basis-white;
    position: relative;
}

.aroma-block {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aroma-block-row {
    display: flex;
}

.aroma-element {
    .size-button-aroma;
    display: flex;
    margin: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    transition: background-color 150ms ease-in;
}

.aroma-element:hover {
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
    cursor: pointer;
}

.aroma-element.active {
    background-color: @color-basis-active;
    transition: background-color 150ms ease-in;
}

.nav-additional-aroma:hover {
    user-select: none;
    cursor: default;
}

.aroma-make, .aroma-name {
    user-select: none;
}

@keyframes show-rows {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-additional-aroma {
    display: none;
}

.nav-additional-aroma.active {
    .size-nav-additional-button;
    animation-name: show-rows;
    animation-duration: 150ms;
    background-color: @color-basis;
    color: @color-basis-white;
}

.nav-additional-aroma p {
    display: flex;
    align-items: center;
}
