body {
    height: 100vh;
    margin: 0;
    background-color: @color-body-bkg;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    justify-items: center;
    align-items: center;
}

body p {
    margin: 0;
    transform: skew(-7deg);
}

.block, .nav-menu-addit {
    display: none;
}

.block.active {
    display: grid;
}
