.full-block-img {
    border: solid 1px red;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "card";
}

.card-photo {
    grid-area: card;
    grid-column: 2/3;
    grid-row: 2/3;
    .card-size-mixin;
    position: relative;
}

.card-photo-img {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-image: url(/image/card-photo-bw.jpg);
    opacity: 0.9;
    height: 100%;
    background-size: cover;
}