.card-text {
    .card-size-mixin;
     background-color: @color-footer-bkg;
 }
 
 .form-card-letter {
     position: relative;
     margin: 1.5vh;
     display: grid;
 }
 
 .card-letter-legend {
     margin-left: 1rem;
 }

 .card-letter-area {
    height: 100%;
    // border: solid 1px red;
    cursor: text;
    border-color: red;
    caret-color: @color-basis;
 }
 
[contenteditable] {
    outline: 0px solid transparent;
 }

 .card-letter-area div {
    border-bottom: dotted 2px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    font-style: italic;
    letter-spacing: 1px;
    // overflow-y: auto;
    // overflow-x: hidden;
    word-wrap: break-word;
    // line-height: 140%;
    display: flex;
    justify-content: space-between;
 }
 
//  .card-letter-cursor::before {
//      position: absolute;
//      content: '.';
//      width: 10px;
//      height: 2rem;
//      top: 3rem;
//      left: 2rem;
//      background-color: @color-basis;
//      color: @color-basis;
//  }

//  .card-letter-cursor-block {
//     opacity: 1;
//     animation-name: cursor-block;
//     animation-duration: 1400ms;
//     animation-delay: 350ms;
//     animation-iteration-count: infinite;
//  }

// @keyframes cursor-block {
//     0% {opacity: 1;}
//     25% {opacity: 1;}
//     35% {opacity: 0;}
//     50% {opacity: 0;}
//     65% {opacity: 0;}
//     75% {opacity: 1;}
//     100% {opacity: 1;}
// }