.cardphoto {
    .card-size-mixin;
    position: relative;
}

.cardphoto-img-nav {
    // display: none;
    position: absolute;
    left: -6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

// .cardphoto-img-nav.active {
//     position: absolute;
//     left: -6rem;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     z-index: 1;
//     // border: solid 1px green;
// }

.cardphoto-img-nav-button {
    // display: none;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    opacity: 0.65;
    transition: opacity 150ms ease-in;
    background-color: @color-basis-white;
    border-radius: 50%;
    margin: 0.5rem 1rem;
    user-select: none; 
}

// .cardphoto-img-nav-button.wait-start {
//     // position: relative;
//     cursor: pointer;
//     font-size: 1rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 3rem;
//     height: 3rem;
//     opacity: 0;
//     transition: opacity 150ms ease-in;
//     background-color: @color-basis-white;
//     border-radius: 50%;
//     margin: 0.5rem 1rem;
//     user-select: none; 
// }

.cardphoto-img-nav-button.wait.wait {
    opacity: 0.65;
    transition: opacity 150ms ease-in;
}
    
.cardphoto-img-nav-button.hover {
    opacity: 0.85;
    transition: opacity 75ms ease-in;
}

// .cardphoto-img-nav-button.wait.hover {
//     opacity: 0.85;
//     transition: opacity 75ms ease-in;
// }

.cardphoto-img-nav-button.press-active {
    background-color: @color-basis-grey;
}
    
.cardphoto-img-button-text {
    user-select: none; 
    font-size: 1rem;
}

.cardphoto-input {
    display: none;
}

.cardphoto-img-start {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-image: url(/image/card-photo-bw.jpg);
    height: 100%;
    background-size: cover;
}

.cardphoto-img-start.deactivation {
    display: none;
}

.cardphoto-img {
    display: none;
}

.cardphoto-img.active {
    .card-size-mixin;
    display: block;
}

//** circle */

.cardphoto-circles {
    // .card-size-mixin;
    position: absolute;
}

.circle {
    background-color: @color-basis; 
    position: absolute; 
    touch-action: none;
    width: 16px; 
    height: 16px; 
    border-radius: 50%; 
    border: solid 1px @color-basis-white;
    z-index: 2;
}

.circle-start {
    position: absolute; 
    width: 4px; 
    height: 4px;
    background-color: orangered;
    // opacity: 0;
    z-index: 5;
}

// .circle-start.active {
//     width: 5px;
//     height: 5px;
// }

// .circle-1-start {
//     background-color: aqua;
// }
// .circle-2-start {
//     background-color: palegreen;
// }
// .circle-3-start {
//     background-color: beige;
// }
// .circle-4-start {
//     background-color: olive;
// }

.circle-1, .circle-3 {
    cursor: nwse-resize;
}

.circle-2, .circle-4 {
    cursor: nesw-resize;
}

.background-image {
    position: absolute;
    background-color: @color-basis-hover;
    opacity: 0.5;
}

// .background-image-up {
//     border: solid 1px orchid;
// }
// .background-image-right {
//     border: solid 1px olivedrab;
// }
// .background-image-buttom {
//     border: solid 1px burlywood;
// }
// .background-image-left {
//     border: solid 1px skyblue;
// }
