.card-photo {
    .card-size-mixin;
}

.card-photo-img {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-image: url(/image/card-photo-bw.jpg);
    height: 100%;
    background-size: cover;
}