.full-block-img {
    border: solid 1px red;
    width: 100%
}

.card-photo {
    .card-size-mixin;
    position: relative;
}

.card-photo-img {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-image: url(/image/card-photo-bw.jpg);
    opacity: 0.9;
    height: 100%;
    background-size: cover;
}