.card-text {
    .card-size-mixin;
     background-color: @color-footer-bkg;
}
 
.form-card-letter {
    position: relative;
    margin: 1.5vh;
    display: grid;
}

.card-letter-legend {
    margin-left: 1rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    height: 1.2rem;
}

.card-letter-area {
    position: relative;
    height: 100%;
}

.card-letter-textarea {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: @color-basis-transparent;
    outline: none;
    resize: none;
    border: none;
    caret-color: @color-basis;
    overflow: hidden;
    // border: solid 1px blue;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.card-letter-row {
    background-color: @color-basis-white;
    padding: 0;
    width: 100%;
    font-style: italic;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    outline: none;
    color: @color-basis;
    letter-spacing: 3px;
    // font-size: 2.2rem;
    font-weight: 400;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: dotted 2px rgba(0, 0, 0, 0.1);
    //    border: none;
}

.card-letter-row.row-focus {
    background-color: @color-basis-hover;
}

.card-letter-legend span {
    font-size: 0.8rem;
    font-weight: 100;
    font-style: italic;
    user-select: none;
    color: @color-basis;
}

// .card-letter-frame {
//     // .card-size-mixin;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     background-color: @color-basis-transparent;
//     border: solid 1px green;
// }

//  .cardtext-size-row:first-child {
    
//  }
 
//  .card-letter-cursor::before {
//      position: absolute;
//      content: '.';
//      width: 10px;
//      height: 2rem;
//      top: 3rem;
//      left: 2rem;
//      background-color: @color-basis;
//      color: @color-basis;
//  }

//  .card-letter-cursor-block {
//     opacity: 1;
//     animation-name: cursor-block;
//     animation-duration: 1400ms;
//     animation-delay: 350ms;
//     animation-iteration-count: infinite;
//  }

// @keyframes cursor-block {
//     0% {opacity: 1;}
//     25% {opacity: 1;}
//     35% {opacity: 0;}
//     50% {opacity: 0;}
//     65% {opacity: 0;}
//     75% {opacity: 1;}
//     100% {opacity: 1;}
// }