@color_cornflower: #3773e0;
@color_cornflower_alfa: rgba(55, 115, 224, 0.5);
@color_light: #f8f9fa;
@color_border: #3c4043;
@color_text_header: #1f1f1f;
@color_cards: #dadce0;
@color_cards_alfa: rgba(218;220;224;0);
@color_hover: #d42d22;/*#dd0004;*/
@color_itten_cornflower: #3773e0;
@color_itten_orange: #ff842a;
@color_itten_yellow: #ffd72a;


