// @color_tx: #5f6368;
// @color_cfb: /*#00a0e3;//*#3773e0;*/
@color_cornflower: #d42d22;/*#3773e0;*/
@color_cornflower_alfa: rgba(55, 115, 224, 0.5);
@color_light: #f8f9fa;
@color_border: #3c4043;
@color_cards: #dadce0;
// @color_background_header: #f8f9fa; /*#dce5f5*/
@color_hover: #d42d22;/*#dd0004;*/
// @color_active_header: #00a0e3;/*#3773e0;*/
// @color_active_menu: #d42d22;/*#dd0004;*/

