.date.active {
    .card-size-mixin;
    background-color: @color-basis-white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-block-additive {
    .card-calendar-size-mixin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
    grid-template-areas: 
        "datetitle"
        "dateyearmonth"
        "datedays";
        // border: solid orange 1px;
}
    
.date-title {
    grid-area: datetitle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    user-select: none;
    // border: solid blue 1px;
}
    
.date-year-month {
    grid-area: dateyearmonth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    // border: solid palevioletred 1px;
}

.date-year-full, .date-month-full {
    margin: 0 0.5rem;
}

.date-year, .date-month {
    padding: 0 4px;
    transition: background-color .2s ease-in;
}

.date-year:hover, .date-month:hover {
    background-color: @color-basis-hover;
    transition: background-color .2s ease-in;
}

.date-year-title p, .date-month-title p {
    margin: 0 6px;
}

.date-multi-button {
    .nav-button-mixin;
    transition: background-color .2s ease-in;
}

.date-multi {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 8px;
    height: 28px;
}

.date-multi:hover {
    background-color: @color-basis-active;
    transition: background-color .2s ease-in;
}

.date-multi:last-child p {
    padding-bottom: 2px;
}

.date-table-month {
    grid-area: datedays;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // border: solid 1px blue;
}

.date-table {
    border-spacing: 8px;
    // border: solid 1px yellowgreen;
}

.date-multi p {
    margin: 0 8px 0 7px;
}

.date-table p, .date-multi p {
    margin: 0 8px 0 7px;
    user-select: none;
}

td, th {
    font-style: italic;
    padding: 8px;
    text-align: center;
    font-weight: 300;
    border-radius: 30px;
    user-select: none;
    // border: solid 1px fuchsia;
}

.date-day-counter {
    transition: background-color .2s ease-in;
}

.date-day-counter:hover {
    background-color: @color-basis-hover;
    transition: background-color .2s ease-in;
    cursor: pointer;
}

.date-month-title, .date-year-title {
    width: 4.4rem;
    display: flex;
    justify-content: center;
    user-select: none;
}