.date.active {
    .card-size-mixin;
    background-color: @color-basis-white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-block-additive {
    .size-card-calendar;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 3fr 5fr;
    // grid-template-areas: 
    //     // "datetitle"
    //     "dateyearmonth"
    //     "datedays";
        // border: solid orange 1px;
}
    
// .date-departure {
//     grid-area: datetitle;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 50px;
//     user-select: none;
//     // border: solid blue 1px;
// }
    
.date-year-month-full {
    // grid-area: dateyearmonth;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: min-content;
    // border: solid palevioletred 1px;
}

.date-year-month {
    display: flex;
    margin: 1rem 0;
    border-radius: 20px;
    // background-color: @color-basis-hover;
    // background-color: @color-basis-hover;
    // border: solid blueviolet 1px;
}

.date-slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 9px;
    margin-bottom: 9px;
    cursor: pointer;
}

.date-slider:focus {
    outline: none;
}

.date-slider::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 5px;  
    background-color: @color-basis-hover;
    outline: none;
}

.date-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%; 
    margin-top: -5px;
    background-color: @color-basis-grey;
    transition: background-color 150ms ease-in;
}

.hover.date-slider::-webkit-slider-thumb {
    background-color: @color-basis;
    transition: background-color 150ms ease-in;
}

.date-slider:focus::-webkit-slider-thumb {
    background-color: @color-basis;
    transition: background-color 150ms ease-in;
}

.date-calendar-title {
    width: min-content;
    transition: background-color .15s ease-in;
    margin: 0 4px;
    border-radius: 20px;
    padding: 8px;
    height: 15px;
    background-color: @color-basis-white;
    // border: solid 1px red;
    transition: background-color 150ms ease-in;
}

.date-calendar-title.active {
    background-color: @color-basis-hover;
    cursor: pointer;
}

.date-calendar-title.hover {
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
    cursor: pointer;
}

.date-calendar-title.press-active {
    background-color: @color-basis-grey;
}

.date-sign {
    display: none;
}

// .date-sign.hover.active {
//     background-color: @color-basis-grey;
//     transition: background-color 150ms ease-in;
// }

.date-sign.hover, .date-sign.active {
    display: flex;
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
    cursor: pointer;
}

// .date-sign.active {
//     display: flex;
//     background-color: @color-basis-hover;
// }

.date-sign {
    // display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    width: 15px;
    height: 15px;
}

.sign-minus {
    margin-right: 4px;
}

.sign-plus {
    margin-left: 4px;
}

// .date-year:hover, .date-month:hover, .date-day:hover {
//     background-color: @color-basis-hover;
//     transition: background-color 150ms ease-in;
// }

.date-multi-button {
    .size-nav-additional-button-multi;
    transition: background-color 150ms ease-in;
    // background-color: @color-basis-hover;
}

.date-multi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    width: 15px;
    height: 15px;
}

.date-calendar-title {
    .style-envelope-font;
    display: flex;
    justify-content: center;
    user-select: none;
}

.date-year-full, .date-day-full {
    width: 3rem;
}

.date-month-full {
    width: 4.2rem;
}

.date-year-minus, .date-year-plus, .date-month-minus, .date-month-plus, .date-day-minus, .date-day-plus {
    display: none;
}

// .date-year-minus, .date-day-plus {

// }

.date-year-plus:hover, .date-month-plus:hover, .date-day-plus:hover {
    background-color: @color-basis-active;
    cursor: pointer;
    transition: background-color 150ms ease-in;
}

.date-year-minus:hover, .date-month-minus:hover, .date-day-minus:hover {
    transition: background-color 150ms ease-in;
}

.date-year-minus:hover.active, .date-month-minus:hover.active, .date-day-minus:hover.active {
    background-color: @color-basis-active;
    cursor: pointer;
    transition: background-color 150ms ease-in;
}

.date-table-month {
    // grid-area: datedays;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    // border: solid 1px blue;
}

.date-table {
    border-spacing: 8px;
    // border: solid 1px yellowgreen;
}

.date-multi p {
    margin: 0 7px 0 7px;
}

.date-table p, .date-multi p {
    margin: 0 8px 0 7px;
    user-select: none;
}

tr {
    animation-name: show-rows;
    animation-duration: 400ms;
}

@keyframes show-rows {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.today-day {
    background-color: @color-basis-bkg;
}

.date-day.active {
    color: @color-basis-white;
    background-color: @color-basis;
    transition: background-color 150ms ease-in;
}

.date-day:hover.active {
    color: @color-basis-white;
    background-color: @color-basis;
    transition: background-color 150ms ease-in;
}

.day-neighbor, .left-right-previous-day {
    background-color: @color-basis-light;
    transition: background-color 150ms ease-in;
}

td, th {
    font-style: italic;
    padding: 8px;
    text-align: center;
    font-weight: 300;
    border-radius: 30px;
    user-select: none;
    transition: background-color 150ms ease-in;
    // border: solid 1px fuchsia;
}

.date-day {
    transition: background-color 150ms ease-in;
}

.forbidden {
    color: @color-basis-grey;
}

.allowed:hover {
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
    cursor: pointer;
}
