.footer {
    grid-area: footer;
    grid-row: 3/4;
    height: 36px;
    margin: 0.3rem 2rem 0.3rem 2rem;
    border-radius: 1.4rem;
    background-color: @color-basis-white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // border: solid 1px blue;
}

.footer-text {
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 1rem;
    user-select: none;
}

.logo-img-footer {
    margin-right: 5px;
}