.header {
    // grid-area: header;
    grid-column: 1/3;
    grid-row: 1/2;
    // grid-row: 1/2;
    // height: 44px;
    // width: 100%;
    margin: 0.3rem;
    // background-color: @color-basis-gradient-bottom;
    // background-color: @color-basis-white;
    border-radius: 1.4rem;
    // border: solid 1px @color-basis-white;
    // border: solid 1px orangered;
}

// .header-full {
//     border-radius: 1.4rem;
//     margin: 4px;
// }

.header-menu {
    // color: @color-basis-black;
    // height: 44px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    // padding: 4px;
    justify-content: space-between;
    align-items: center;
    // border: solid 1px green;
    box-sizing: border-box;
}

.header-menu-logoname {
    display: flex;
    align-items: center;
}

.header-menu-login {
    margin: 1px;
}

// .logo-img {
//     background-image: url(/logo/logo-v3-30-for-header-classic.svg);
// }

// .logo-img:hover {
//     background-image: url(/logo/logo-v3-40-color.svg);
//     cursor: pointer;
// }

.logoname-img {
    padding-left: 0.6rem;
}

.header-login {
    width: 287px;
    user-select: none;
    // margin: 3px;
    font-size: 0.8rem;
    display: flex;
    justify-content: end;
    align-items: center;
    border: solid 1px red;
}

.header-login-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 1.4rem;
    // margin: 2px 2px 0 0;
    background-color: @color-basis;
    color: @color-basis-white;
    // transform: skew(-7deg);
    // border: solid 1px blue;
}
