// #canvas {
//     position:absolute;
//     grid-column: 2/3;
//     grid-row: 2/3;
// }

#source {
    grid-column: 1/4;
    grid-row: 1/4;
}

#d01 {
    grid-column: 2/3;
    grid-row: 2/3;
    border: aqua solid 1px;
}

#testqq {
    position: absolute;
    grid-column: 2/3;
    grid-row: 2/3;
    border: blueviolet solid 1px;
    width: 500px;
    height: 350px;
}

#d03 {
    border: green solid 1px;
    width: 505px;
    height: 350px;
}

#elem1 {
	height: 100px;
	border: 10px solid black;
	padding: 15px;
}
