.screen_rain_hicoin {
    grid-column: 1/4;
    grid-row: 1/4;
    background-color: bisque;
}

.screen_hicoin {
    grid-column: 1/4;
    grid-row: 1/4;
    background-color: darkseagreen;
}

.hicoin_card {
    grid-column: 5/6;
    grid-row: 2/3;
    background-color: gray;
    .mixin_card_size;
    margin: auto;
}