// .screen_rain_hicoin {
//     grid-column: 1/4;
//     grid-row: 1/4;
//     background-color: bisque;
//     // background-image: url(/img/_DSC0029_result_01_02_43+.jpg);
// }

#canvas1 {
    grid-column: 1/4;
    grid-row: 1/4;
}

#canvas {
    grid-column: 1/4;
    grid-row: 1/4;
}

// #source1 {
//     grid-column: 1/4;
//     grid-row: 1/4;
// }

// .hicoin_card {
//     grid-column: 5/6;
//     grid-row: 2/3;
//     border: grey solid 1px;
//     .mixin_card_size;
//     margin: auto;
// }

