.rain_center {
    grid-column: 5/6;
    grid-row: 2/3;
    opacity: 0;
    background-color: @color_rain_login_rgba;
    transition: all 0.4s ease 0s;
}

.rain_center.active {
    opacity: 1;
    background-color: @color_rain_login_rgba;
    transition: all 0.4s ease 0.7s;
}

.login_block {
    display: grid;
    grid-template-columns: 0.5fr 1fr 4fr 0.5fr 0.5fr 4fr 1fr 0.5fr;
    grid-template-rows: 1fr 8fr 1fr;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    z-index: -1;
}

.login_greeting {
    grid-column: 2/4;
    grid-row: 2/3;
}

.logins_blocks {
    grid-column: 6/8;
    grid-row: 2/3;
}

.signup_blocks {
    grid-column: 3/7;
    grid-row: 2/3;
    visibility: hidden;
}

.logins_blocks.active {
    visibility: hidden;
}

.logins_blocks, .signup_blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login_block.active {
    opacity: 1;
    transition: all 0.4s ease 0.6s;
    z-index: 1;
}

.login_greeting p {
    font-size: 36px;
    color: @color_light;
    margin-top: 0;
}

.login_greeting.active {
    visibility: hidden;
}

.block_input_other {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid @color_cards;
}

.block_input_other:hover, .block_input_other:focus {
    border-bottom: 1px solid @color_itten_orange;
}

.img_eye {
    background-image: url(/img/eye.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    visibility: hidden;
    padding-bottom: 15px;
    width: 26px;
    height: 26px;
}

.img_eye.active {
    background-image: url(/img/eye_hover.svg);
}

.block_input span, .block_button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.login_sign, .login_forgot span {
    margin: 0;
    padding: 15px 0px;
}

.tab_button, .login_forgot_link {
    cursor: pointer;
}

.input_area {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: @color_light;
}

.input_area, .tab_button {
    font-size: 20px;
    padding: 15px 0px;
    text-align: left;
    background: transparent;
    outline: none;
    border: none;
}

.tab_button_submit {
    margin-top: 15px;
}

.input_area::placeholder, .input_area::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    font-size: 20px;
    font-style: italic;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: @color_light;
}

.input_area:hover, .input_area:focus {
    color: @color_itten_orange;
}

.block_button i {
    font-weight: 400;
    font-style: italic;
    color: @color_light;
    margin: 0;
    padding: 15px 0;
}