.main-full {
    grid-area: mainfull;
    position: relative;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "navigation"
        "main";
}