.main-cardlist {
    display: flex;
    // position: static;
    justify-content: space-between;
    margin: 4px;
    height: 87.56px;
    // width: 100%;
    // border: solid 1px brown;
}

.main-cardlist-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: @color-basis-hover;
    width: 38px;
    cursor: pointer;
}

// .main-cardlist-left {
//     margin: 0 1rem 0 2rem;
// }

// .main-cardlist-right {
//     margin: 0 2rem 0 1rem;
// }

.main-cardlist-body {
    display: flex;
    background-color: @color-basis-hover;
    border-radius: 1.4rem;
    margin: 0 1rem;
    width: 100%;
    // border: solid 1px green;
}
