.main-nav {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    position: absolute;
    border-radius: 1.4rem;
    left: 4px;
    top: 1rem;
    bottom: 4px;
    // height: 100%;
    width: 10rem;
    // height: 90%;
    // border: solid 1px chocolate;
    background-color: @color-basis-hover;
    // z-index: 1;
}
