.main {
    grid-area: main;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main.img-active {
    background-color: @color-basis-main-shadow;
    opacity: 0.6;
    border-radius: 1rem;
    margin: 0 4vw;
}