.block-cardphoto-change {
    display: none;
}

.block-cardphoto-change.active {
    // .card-size-mixin;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    // border: solid 1px orchid;
}
