.main {
    grid-area: main;
    position: relative;
    grid-row: 2/3;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // opacity: 0.8;
}

.main-addition {
    position: relative;
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    border-radius: 1.4rem;
    background: linear-gradient(to bottom, @color-basis-gradient-bottom, @color-basis-gradient-top);
    // background-color: @color-basis-gradient-bottom;
    // border: solid 1px green;
}
