.nav-additional-block {
    display: none;
}

.nav-additional-block.active {
    .size-nav-additional-block;
}

.nav-additional-block p {
    margin: 0 0.6rem 0 0.5rem;
    user-select: none;
}

.nav-additional-button {
    .size-nav-additional-button;
}

.nav-additional-button:hover {
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
}

.nav-additional-button.press-active {
    .add-press-button;
}

.nav-additional-button-multi {
    .size-nav-additional-button-multi;
}

.nav-additional-multi-left {
    .size-nav-additional-multi-left;
}

.nav-additional-multi-right {
    .size-nav-additional-multi-right;
}

.nav-additional-multi-left:hover, .nav-additional-multi-right:hover {
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
}

.nav-additional-multi-left.press-active, .nav-additional-multi-right.press-active {
    .add-press-button;
}
