.nav {
    margin-top: 0.5rem;
    height: 32px;
}

.nav-additional-block {
    display: none;
}

.nav-additional-block.active {
    .size-nav-additional-block;
    // display: flex;
}

.nav-additional-block p {
    // margin: 0 0.6rem 0 0.5rem;
    user-select: none;
}

.nav-additional-button {
    .size-nav-additional-button;
}

.nav-additional-button:hover {
    background-color: @color-basis-hover;
    transition: background-color 100ms ease-in;
}

.nav-additional-button.press-active {
    .add-press-button;
}

.nav-additional-button-multi {
    .size-nav-additional-button-multi;
}

.nav-additional-multi-left {
    .size-nav-additional-multi-left;
}

.nav-additional-multi-right {
    .size-nav-additional-multi-right;
}

.nav-additional-multi-left:hover, .nav-additional-multi-right:hover {
    background-color: @color-basis-hover;
    transition: background-color 100ms ease-in;
}

.nav-additional-multi-left.press-active, .nav-additional-multi-right.press-active {
    .add-press-button;
}

.nav-additional-date.active {
    background-color: @color-basis-transparent;
}

.nav-additional-aroma {
    display: none;
}

.nav-additional-aroma.active {
    background-color: @color-basis-transparent;
}

.nav-additional-button-aroma {
    background-color: @color-basis;
    color: @color-basis-white;
}

.nav-additional-button-aroma:hover {
    background-color: @color-basis;
    color: @color-basis-white;
    cursor: default;
}

.nav-additional-date-full {
    animation-name: show-rows;
    animation-duration: 150ms;
}

.nav-additional-date-multi {
    margin: 2px;
    padding: 6px 1rem;
    background-color: @color-basis;
    color: @color-basis-white;
}

.nav-additional-date-multi:hover {
    background-color: @color-basis;
    color: @color-basis-white;
    cursor: default;
}

.additional-date-multi {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.additional-date-multi span:nth-child(2) {
    width: 4.8rem;
}

.additional-date-multi span:nth-child(1) {
    width: 2.4rem;
    margin-right: 8px;
}

.additional-date-multi span:nth-child(3) {
    width: 1.4rem;
    margin-left: 8px;
}
