.nav {
    grid-area: navigation;
    height: 78px;
    display: grid;
    grid-column: auto;
    grid-row: 1/2;
    text-align: center;
}

.nav-menu {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.nav-menu-button.active {
    background-color: @color-basis;
    border: solid 1px @color-basis;
    color: @color-basis-white;
}

.nav-menu-button {
    border: solid 1px @color-body-bkg;

    .nav-button-mixin;

    &:hover {
        border: solid 1px @color-basis;
        cursor: pointer;
    }
}

.nav-menu-addit.active {
    display: flex;    
    justify-content: center;
    align-items: center;
}
