.nav {
    grid-area: navigation;
    grid-row: 2/3;
    height: 36px;
    margin: 0.5vh 4vw 0.5vh 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
    // border: solid 1px red;
    // background-color: antiquewhite;
}

.nav-additional-block {
    display: none;
}

.nav-additional-block.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
}
