.nav {
    grid-area: navigation;
    grid-row: 2/3;
    height: 36px;
    margin: 0.5vh 4vw 0.5vh 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-additional-block {
    display: none;
}

.nav-additional-button {
    color: @color-basis-black;
    padding-right: 8px;
    padding-left: 8px;
    background-color: @color-basis-white;
    transition: background-color 150ms ease-in;
}

.nav-additional-block.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-addit-cardtext-size:hover {
    cursor: default;
    transition: background-color 150ms ease-in;
}

.nav-addit-cardtext-size.active {
    background-color: @color-basis-hover;
    transition: background-color 150ms ease-in;
}

.nav-additional-multi-title p {
    margin: 0 8px;
}

.nav-additional-multi {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    padding: 0 4px;
    height: 28px;
}

.nav-additional-multi:hover {
    background-color: @color-basis-active;
    transition: background-color 150ms ease-in;
}

.nav-additional-multi:hover p {
    transition: background-color 150ms ease-in;
}

.nav-additional-multi:last-child p {
    padding-bottom: 2px;
}

.nav-additional-multi p {
    font-size: 1rem;
}