.block-new-img {
    .new-img-mixin;
    position: absolute;
    border: solid 1px red;
}

.crop-circle {
    background-color: #008aed; 
    position: absolute; 
    width: 9px; 
    height: 9px; 
    border-radius: 10px; 
    border: solid 1px #ffffff;
    cursor: alias;
}
