.block-new-img {
    display: none;
}

.block-new-img.active {
    .new-img-mixin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-img {
    .card-size-mixin;
    position: relative;
}

.new-img-rubber {
    .card-size-mixin;
    position: relative;
}

.new-img-new-area {
    // .card-size-mixin;
    border: solid 1px red;
    position: absolute;
}

.crop-circle {
    background-color: #008aed; 
    position: absolute; 
    width: 9px; 
    height: 9px; 
    border-radius: 10px; 
    border: solid 1px #ffffff;
}

.crop-circle-1, .crop-circle-3 {
    cursor: nwse-resize;
}

.crop-circle-2, .crop-circle-4 {
    cursor: nesw-resize;
}
