.rain {
    opacity: 0.4;
    background-color: @color_rain_rgba;
    transition: opacity 2s ease 0;
    border: steelblue 1px solid;
}

.rain.active {
    opacity: 1;
    background-color: @color_rain_rgba;
    transition: opacity 0.4s ease 0.6s;
}

.rain_top {
    grid-column: 5/6;
    grid-row: 1/2;
}

.rain_left {
    grid-column: 1/5;
    grid-row: 1/4;
}

.rain_right {
    grid-column: 6/8;
    grid-row: 1/4;
}

.rain_bottom {
    grid-column: 5/6;
    grid-row: 3/4;
}

.rain_top.active {
    grid-column: 5/6;
    grid-row: 1/2;
}

.rain_left.active {
    grid-column: 1/5;
    grid-row: 1/4;
}

.rain_right.active {
    grid-column: 6/8;
    grid-row: 1/4;
}

.rain_bottom.active {
    grid-column: 5/6;
    grid-row: 3/4;
}