.size-nav-header-button() {
    color: @color-basis-black;
    background-color: @color-basis-white;
    transition: background-color 150ms ease-in;
    margin: 0 4px;
    padding: 6px 0.7rem 6px 0.8rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 16px;
    cursor: pointer;
    user-select: none;
}

.size-nav-additional-block {
    background-color: @color-basis-white;
    border-radius: 30px;
    display: flex;
}

.size-nav-additional-button {
    color: @color-basis-black;
    background-color: @color-basis-white;
    transition: background-color 150ms ease-in;
    margin: 1px 2px;
    padding: 6px 1rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    // border: solid 1px blue;
}

.size-nav-additional-button-multi {
    color: @color-basis-black;
    background-color: @color-basis-white;
    transition: background-color 150ms ease-in;
    margin: 0 4px;
    padding: 6px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 16px;
    cursor: default;
    // border: solid 1px greenyellow;
}

.nav-additional-multi-title {
    padding: 6px 1rem;
}

.size-nav-additional-multi-left, .size-nav-additional-multi-right {
    height: 1rem;
    border-radius: 30px;
    padding: 6px 1rem;
    cursor: pointer;
    // border: solid 1px red;
}

.size-button-aroma() {
    width: 16vh*1.42;
    height: 4vh;
}

.style-envelope-font() {
	font-size: 1.3vh;	
	color: @color-nav;
}

.my-adress-legend {
    .style-envelope-font;
}

.style-envelope-label {
	.style-envelope-font;
    display: block;
    margin-top: 0.6vh;
}

.style-envelope-input {
	.style-envelope-font;
	display: block;
	width: 100%;
    height: 2vh;
	letter-spacing: 0.5px;
	font-weight: 300;
	font-size: 0.9rem;
	color: @color-basis;
	background-color: @color-body-bkg;
	border-radius: 20px;
    border: none;
    outline: none;
}