--vkui--octavius_size_headline_height--regular: 36px !important;
--vkui--font_family_accent: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_family_base: Helvetica, Arial, sans-serif;
--vkui--font_weight_accent1: 400;
--vkui--font_weight_accent2: 500;
--vkui--font_weight_accent3: 500;
--vkui--font_weight_base1: 400;
--vkui--font_weight_base2: 700;
--vkui--font_weight_base3: 700;
--vkui--font_title1--font_size--regular: 24px;
--vkui--font_title1--line_height--regular: 28px;
--vkui--font_title1--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_title1--font_weight--regular: 500;
--vkui--font_title2--font_size--regular: 20px;
--vkui--font_title2--line_height--regular: 26px;
--vkui--font_title2--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_title2--font_weight--regular: 500;
--vkui--font_title3--font_size--regular: 17px;
--vkui--font_title3--line_height--regular: 24px;
--vkui--font_title3--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_title3--font_weight--regular: 500;
--vkui--font_headline--font_size--regular: 15px;
--vkui--font_headline--line_height--regular: 20px;
--vkui--font_headline--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_headline--font_weight--regular: 500;
--vkui--font_text--font_size--regular: 15px;
--vkui--font_text--line_height--regular: 20px;
--vkui--font_text--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_text--font_weight--regular: 400;
--vkui--font_subhead--font_size--regular: 14px;
--vkui--font_subhead--line_height--regular: 18px;
--vkui--font_subhead--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_subhead--font_weight--regular: 400;
--vkui--font_footnote--font_size--regular: 13px;
--vkui--font_footnote--line_height--regular: 18px;
--vkui--font_footnote--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_footnote--font_weight--regular: 400;
--vkui--font_footnote_caps--font_size--regular: 13px;
--vkui--font_footnote_caps--line_height--regular: 18px;
--vkui--font_footnote_caps--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_footnote_caps--font_weight--regular: 400;
--vkui--font_footnote_caps--text_transform--regular: uppercase;
--vkui--font_footnote_caps--letter_spacing--regular: 0.3px;
--vkui--font_caption1--font_size--regular: 12px;
--vkui--font_caption1--line_height--regular: 16px;
--vkui--font_caption1--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_caption1--font_weight--regular: 400;
--vkui--font_caption1_caps--font_size--regular: 12px;
--vkui--font_caption1_caps--line_height--regular: 16px;
--vkui--font_caption1_caps--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_caption1_caps--font_weight--regular: 400;
--vkui--font_caption1_caps--text_transform--regular: uppercase;
--vkui--font_caption1_caps--letter_spacing--regular: 0.26px;
--vkui--font_caption2--font_size--regular: 11px;
--vkui--font_caption2--line_height--regular: 14px;
--vkui--font_caption2--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_caption2--font_weight--regular: 400;
--vkui--font_caption2_caps--font_size--regular: 11px;
--vkui--font_caption2_caps--line_height--regular: 14px;
--vkui--font_caption2_caps--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_caption2_caps--font_weight--regular: 400;
--vkui--font_caption2_caps--text_transform--regular: uppercase;
--vkui--font_caption2_caps--letter_spacing--regular: 0.22px;
--vkui--font_caption3--font_size--regular: 9px;
--vkui--font_caption3--line_height--regular: 12px;
--vkui--font_caption3--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_caption3--font_weight--regular: 400;
--vkui--font_caption3_caps--font_size--regular: 9px;
--vkui--font_caption3_caps--line_height--regular: 12px;
--vkui--font_caption3_caps--font_family--regular: Helvetica, Arial, sans-serif;
--vkui--font_caption3_caps--font_weight--regular: 400;
--vkui--font_caption3_caps--text_transform--regular: uppercase;
--vkui--font_caption3_caps--letter_spacing--regular: 0.16px;
--vkui--size_select_icon_padding--regular: 7px;
--vkui--size_select_icon_padding--compact: 6px;
--vkui--size_popup_base_padding--regular: 20px;
--vkui--size_popup_base_padding--compact: 32px;
--vkui--size_popup_header_padding--regular: 16px;
--vkui--size_popup_header_padding--compact: 24px;
--vkui--size_border_radius--regular: 4px;
--vkui--size_check_border_radius--regular: 4px;
--vkui--size_border_radius_paper--regular: 12px;
--vkui--size_border_radius_promo--regular: 20px;
--vkui--size_field_height--regular: 48px;
--vkui--size_field_height--compact: 40px;
--vkui--size_button_large_height--regular: 48px;
--vkui--size_button_large_height--compact: 48px;
--vkui--size_button_medium_height--regular: 48px;
--vkui--size_button_medium_height--compact: 40px;
--vkui--size_button_small_height--regular: 32px;
--vkui--size_button_small_height--compact: 32px;
--vkui--size_checkbox--regular: 16px;
--vkui--size_arrow--regular: 8px;
--vkui--size_arrow_promo--regular: 40px;
--vkui--size_popup_small--regular: 420px;
--vkui--size_popup_medium--regular: 680px;
--vkui--size_popup_large--regular: 880px;
--vkui--size_field_horizontal_padding--regular: 12px;
--vkui--size_button_padding_horizontal--regular: 20px;
--vkui--size_button_padding_horizontal--compact: 16px;
--vkui--size_label_horizontal_margin--regular: 16px;
--vkui--size_arrow_padding--regular: 12px;
--vkui--size_tooltip_margin--regular: 8px;
--vkui--size_icon_u_i--regular: 16px;
--vkui--size_avatar_x_s--regular: 24px;
--vkui--size_avatar_s--regular: 32px;
--vkui--size_avatar_m--regular: 48px;
--vkui--size_avatar_l--regular: 96px;
--vkui--size_avatar_x_l--regular: 128px;
--vkui--size_badge_x_s--regular: 12px;
--vkui--size_badge_s--regular: 16px;
--vkui--size_badge_m--regular: 24px;
--vkui--size_badge_l--regular: 44px;
--vkui--size_badge_x_l--regular: 56px;
--vkui--x0: 0px;
--vkui--x025: 1px;
--vkui--x05: 2px;
--vkui--x1: 4px;
--vkui--x2: 8px;
--vkui--x3: 12px;
--vkui--x4: 16px;
--vkui--x5: 20px;
--vkui--x6: 24px;
--vkui--x8: 32px;
--vkui--x10: 40px;
--vkui--x12: 48px;
--vkui--x15: 60px;
--vkui--x20: 80px;
--vkui--size_base: 4px;
--vkui--size_grid: 20px;
--vkui--font_h0--font_size--regular: 28px;
--vkui--font_h0--line_height--regular: 32px;
--vkui--font_h0--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_h0--font_weight--regular: 500;
--vkui--font_h0--font_size--compact: 44px;
--vkui--font_h0--line_height--compact: 52px;
--vkui--font_h1--font_size--regular: 24px;
--vkui--font_h1--line_height--regular: 28px;
--vkui--font_h1--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_h1--font_weight--regular: 500;
--vkui--font_h1--font_size--compact: 32px;
--vkui--font_h1--line_height--compact: 36px;
--vkui--font_h2--font_size--regular: 20px;
--vkui--font_h2--line_height--regular: 26px;
--vkui--font_h2--font_family--regular: MailSans, Helvetica, Arial, sans-serif;
--vkui--font_h2--font_weight--regular: 500;
--vkui--font_h2--font_size--compact: 28px;
--vkui--font_h2--line_height--compact: 32px;
--vkui--size_arrow_height--regular: 8px;
--vkui--size_arrow_width--regular: 12px;
--vkui--size_base_padding--regular: 16px;
--vkui--size_base_padding--compact: 20px;
--vkui--size_border_width_tab--regular: 2px;
--vkui--size_border_width_bar--regular: 4px;
--vkui--size_border_width_accent--regular: 8px;
--vkui--size_border_width_accent_secondary--regular: 8px;
--vkui--size_control_button_width_min--regular: 130px;
--vkui--size_control_button_width_min--compact: 104px;
--vkui--size_promo_button_close--regular: 32px;
--vkui--size_button_slider_height--regular: 24px;
--vkui--size_button_slider_width--regular: 12px;
--vkui--size_button_slider_width_pointer--regular: 16px;
--vkui--size_field_width_min--regular: 328px;
--vkui--size_field_width_min--compact: 380px;
--vkui--size_label_width--regular: 184px;
--vkui--size_progress--regular: 4px;
--vkui--size_progress_scroll--regular: 12px;
--vkui--size_dot_bullet--regular: 4px;
--vkui--size_dot_indicate--regular: 8px;
--vkui--size_dot_clickable--regular: 12px;
--vkui--size_vertical_padding--regular: 0px;
--vkui--size_button_more_padding--regular: 8px;
--vkui--size_icon_more_padding--regular: 12px;
--vkui--size_icon_more_padding--compact: 8px;
--vkui--size_button_icon_padding--regular: 16px;
--vkui--size_button_icon_padding--compact: 20px;
--vkui--size_div_padding--regular: 4px;
--vkui--size_menu_padding--regular: 8px;
--vkui--size_tag_padding--regular: 8px;
--vkui--size_tab_padding--regular: 16px;
--vkui--size_table_horizontal_padding--regular: 16px;
--vkui--size_table_vertical_padding--regular: 16px;
--vkui--size_slice_top_padding--regular: 40px;
--vkui--size_slice_bottom_padding--regular: 60px;
--vkui--size_base_margin--regular: 12px;
--vkui--size_label_vertical_margin--regular: 4px;
--vkui--size_tip_margin--regular: 4px;
--vkui--size_field_horizontal_margin--regular: 20px;
--vkui--size_field_vertical_margin--regular: 24px;
--vkui--size_field_set_margin--regular: 32px;
--vkui--size_icon_margin--regular: 12px;
--vkui--size_icon_margin--compact: 8px;
--vkui--size_choice_margin--regular: 8px;
--vkui--size_menu_margin--regular: 2px;
--vkui--size_tag_margin--regular: 8px;
--vkui--size_tab_margin--regular: 8px;
--vkui--size_bullet_margin--regular: 12px;
--vkui--size_attribute_margin--regular: 4px;
--vkui--size_popup_margin--regular: 8px;
--vkui--size_popup_margin--compact: 24px;
--vkui--size_header_icon--regular: 20px;
--vkui--size_wysiwyg_icon--regular: 14px;
--vkui--size_illustration_s--regular: 48px;
--vkui--size_illustration_x_m--regular: 72px;
--vkui--size_illustration_m--regular: 96px;
--vkui--size_illustration_l--regular: 144px;
--vkui--size_illustration_x_x_l--regular: 228px;
--vkui--octavius_font_family_default: HelveticaNeue, Helvetica, Arial, sans-serif;
--vkui--octavius_font_family_mail_sans: MailSans, HelveticaNeue, Helvetica, Arial, sans-serif;
--vkui--octavius_font_family_global: Arial, Tahoma, Verdana, sans-serif;
--vkui--octavius_font_family_mac: Helvetica, Arial, Tahoma, Verdana, sans-serif;
--vkui--octavius_font_family_display: inherit;
--vkui--octavius_size_layout_width_max--regular: 2150px;
--vkui--octavius_size_layout_width_min--regular: 761px;
--vkui--octavius_size_sidebar_padding_top--regular: 12px;
--panel-height-normal: 40px;
--panel-height-compact: 32px;
--operand-height-normal: 32px;
--operand-height-compact: 24px;
--octavius--padding_maincontent: 4px;
--sidebar-folders-header-height: 52px;
--vkui--octavius_size_sidebar_widgets_height_min--regular: 64px;
--vkui--octavius_size_sidebar_widgets_height_compact_min--regular: 104px;
--vkui--theme_name: 'octavius';
--vkui--elevation1: 0 2px 0 0 rgba(0, 16, 61, 0.04);
--vkui--elevation2: 0 4px 32px 0 rgba(0, 16, 61, 0.32);
--vkui--elevation3: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
--vkui--elevation4: 0 16px 48px 0 rgba(0, 0, 0, 0.48);
--vkui--animation_duration_l: 0.4s;
--vkui--animation_duration_m: 0.2s;
--vkui--animation_duration_s: 0.1s;
--vkui--animation_easing_default: cubic-bezier(0.3, 0.3, 0.5, 1);
--vkui--opacity_disable: 0.48;
--vkui--tone_value_overlay: 0.48;
--vkui--tone_value_viewer: 0.88;
--vkui--tone_value_toolbar: 0.24;
--vkui--tone_value_hover: 0.04;
--vkui--tone_value_active: 0.08;
--vkui--tone_value_focus: 0.08;
--vkui--type_border_button: solid;
--vkui--type_border_position: inset;
--vkui--theme_name_base: 'octavius';
--vkui--octavius_elevation_card: none;
--vkui--octavius_text_shadow_empty_state_text: none;
--vkui--octavius_elevation_header: none;
--vkui--octavius_position_background: 50% 0;
--vkui--octavius_image_overlay_background: none;
--vkui--octavius_filter_sidebar_item_icon: none;
--vkui--octavius_image_background: none;
--vkui--octavius_color_letter_attach_list_background: linear-gradient(270deg,#fff 22.77%,rgba(255,255,255,0) 104.46%);
--vkui--colors_scheme: light;
--vkui--color_background_accent: #005FF9;
--vkui--color_background_accent--hover: #005CF1;
--vkui--color_background_accent--active: #0059EA;
--vkui--color_background_accent_alternative: #FF9E00;
--vkui--color_background_accent_alternative--hover: #F59802;
--vkui--color_background_accent_alternative--active: #EB9305;
--vkui--color_icon_accent: #005FF9;
--vkui--color_icon_accent--hover: #005CF1;
--vkui--color_icon_accent--active: #0059EA;
--vkui--color_text_accent: #005FF9;
--vkui--color_text_accent--hover: #005CF1;
--vkui--color_text_accent--active: #0059EA;
--vkui--color_stroke_accent: #005FF9;
--vkui--color_stroke_accent--hover: #005CF1;
--vkui--color_stroke_accent--active: #0059EA;
--vkui--color_action_sheet_text: #005FF9;
--vkui--color_action_sheet_text--hover: #005CF1;
--vkui--color_action_sheet_text--active: #0059EA;
--vkui--color_background_content: #FFFFFF;
--vkui--color_background_content--hover: #F5F5F7;
--vkui--color_background_content--active: #EBECEF;
--vkui--color_background_secondary: #F0F1F3;
--vkui--color_background_secondary--hover: #E6E8EC;
--vkui--color_background_secondary--active: #DDDFE4;
--vkui--color_background_tertiary: #F9F9FA;
--vkui--color_background_tertiary--hover: #EFF0F2;
--vkui--color_background_tertiary--active: #E5E6EB;
--vkui--color_background: #FFFFFF;
--vkui--color_background--hover: #F5F5F7;
--vkui--color_background--active: #EBECEF;
--vkui--color_counter_accent_background: #005FF9;
--vkui--color_counter_accent_background--hover: #005CF1;
--vkui--color_counter_accent_background--active: #0059EA;
--vkui--color_counter_accent_text: #FFFFFF;
--vkui--color_counter_accent_text--hover: #F5F5F7;
--vkui--color_counter_accent_text--active: #EBECEF;
--vkui--color_counter_prominent_background: #ED0A34;
--vkui--color_counter_prominent_background--hover: #E40A34;
--vkui--color_counter_prominent_background--active: #DA0A35;
--vkui--color_counter_prominent_text: #FFFFFF;
--vkui--color_counter_prominent_text--hover: #F5F5F7;
--vkui--color_counter_prominent_text--active: #EBECEF;
--vkui--color_counter_muted_background: #C4C6CC;
--vkui--color_counter_muted_background--hover: #BCBFC6;
--vkui--color_counter_muted_background--active: #B4B7C1;
--vkui--color_counter_muted_text: #FFFFFF;
--vkui--color_counter_muted_text--hover: #F5F5F7;
--vkui--color_counter_muted_text--active: #EBECEF;
--vkui--color_background_warning: #FFF1AD;
--vkui--color_background_warning--hover: #F5E8A9;
--vkui--color_background_warning--active: #EBDFA4;
--vkui--color_background_negative: #ED0A34;
--vkui--color_background_negative--hover: #E40A34;
--vkui--color_background_negative--active: #DA0A35;
--vkui--color_text_negative: #ED0A34;
--vkui--color_text_negative--hover: #E40A34;
--vkui--color_text_negative--active: #DA0A35;
--vkui--color_icon_negative: #ED0A34;
--vkui--color_icon_negative--hover: #E40A34;
--vkui--color_icon_negative--active: #DA0A35;
--vkui--color_stroke_negative: #ED0A34;
--vkui--color_stroke_negative--hover: #E40A34;
--vkui--color_stroke_negative--active: #DA0A35;
--vkui--color_header_background: #FFFFFF;
--vkui--color_header_background--hover: #F5F5F7;
--vkui--color_header_background--active: #EBECEF;
--vkui--color_panel_header_icon: #005FF9;
--vkui--color_panel_header_icon--hover: #005CF1;
--vkui--color_panel_header_icon--active: #0059EA;
--vkui--color_icon_primary: #2C2D2E;
--vkui--color_icon_primary--hover: #2A2C2F;
--vkui--color_icon_primary--active: #282B2F;
--vkui--color_icon_medium: #919399;
--vkui--color_icon_medium--hover: #8B8E95;
--vkui--color_icon_medium--active: #858992;
--vkui--color_icon_medium_alpha: rgba(39, 43, 55, 0.5);
--vkui--color_icon_medium_alpha--hover: rgba(39, 43, 55, 0.54);
--vkui--color_icon_medium_alpha--active: rgba(39, 43, 55, 0.58);
--vkui--color_icon_secondary: #A5A7AD;
--vkui--color_icon_secondary--hover: #9EA1A9;
--vkui--color_icon_secondary--active: #989BA4;
--vkui--color_icon_secondary_alpha: rgba(39, 43, 55, 0.3);
--vkui--color_icon_secondary_alpha--hover: rgba(39, 43, 55, 0.34);
--vkui--color_icon_secondary_alpha--active: rgba(39, 43, 55, 0.38);
--vkui--color_icon_tertiary: #CFD1D6;
--vkui--color_icon_tertiary--hover: #C7C9D0;
--vkui--color_icon_tertiary--active: #BEC2CA;
--vkui--color_icon_tertiary_alpha: rgba(39, 43, 55, 0.2);
--vkui--color_icon_tertiary_alpha--hover: rgba(39, 43, 55, 0.24);
--vkui--color_icon_tertiary_alpha--active: rgba(39, 43, 55, 0.28);
--vkui--color_image_border: rgba(0, 16, 61, 0.08);
--vkui--color_image_border--hover: rgba(0, 16, 61, 0.12);
--vkui--color_image_border--active: rgba(0, 16, 61, 0.16);
--vkui--color_write_bar_input_background: #F0F1F3;
--vkui--color_write_bar_input_background--hover: #E6E8EC;
--vkui--color_write_bar_input_background--active: #DDDFE4;
--vkui--color_write_bar_input_border: rgba(0, 16, 61, 0.8);
--vkui--color_write_bar_input_border--hover: rgba(0, 16, 61, 0.84);
--vkui--color_write_bar_input_border--active: rgba(0, 16, 61, 0.88);
--vkui--color_text_link_alternate: #005BD1;
--vkui--color_text_link_alternate--hover: #0058CB;
--vkui--color_text_link_alternate--active: #0055C5;
--vkui--color_track_background: #DADCE0;
--vkui--color_track_background--hover: #D1D4D9;
--vkui--color_track_background--active: #C9CCD3;
--vkui--color_track_buffer: #83AAEA;
--vkui--color_track_buffer--hover: #7EA4E3;
--vkui--color_track_buffer--active: #799EDC;
--vkui--color_background_modal: #FFFFFF;
--vkui--color_background_modal--hover: #F5F5F7;
--vkui--color_background_modal--active: #EBECEF;
--vkui--color_image_placeholder: rgba(0, 16, 61, 0.8);
--vkui--color_image_placeholder--hover: rgba(0, 16, 61, 0.84);
--vkui--color_image_placeholder--active: rgba(0, 16, 61, 0.88);
--vkui--color_image_placeholder_opaque: #E6E7EB;
--vkui--color_image_placeholder_opaque--hover: #DDDEE4;
--vkui--color_image_placeholder_opaque--active: #D4D6DD;
--vkui--color_search_field_background: #E6E7EB;
--vkui--color_search_field_background--hover: #DDDEE4;
--vkui--color_search_field_background--active: #D4D6DD;
--vkui--color_field_border: rgba(0, 16, 61, 0.12);
--vkui--color_field_border--hover: rgba(0, 16, 61, 0.16);
--vkui--color_field_border--active: rgba(0, 16, 61, 0.2);
--vkui--color_checkbox_border: rgba(0, 16, 61, 0.12);
--vkui--color_checkbox_border--hover: rgba(0, 16, 61, 0.16);
--vkui--color_checkbox_border--active: rgba(0, 16, 61, 0.2);
--vkui--color_separator_primary_alpha: rgba(0, 16, 61, 0.12);
--vkui--color_separator_primary_alpha--hover: rgba(0, 16, 61, 0.16);
--vkui--color_separator_primary_alpha--active: rgba(0, 16, 61, 0.2);
--vkui--color_separator_secondary: #E6E7EB;
--vkui--color_separator_secondary--hover: #DDDEE4;
--vkui--color_separator_secondary--active: #D4D6DD;
--vkui--color_separator_primary: #DADCE0;
--vkui--color_separator_primary--hover: #D1D4D9;
--vkui--color_separator_primary--active: #C9CCD3;
--vkui--color_text_link: #005BD1;
--vkui--color_text_link--hover: #0058CB;
--vkui--color_text_link--active: #0055C5;
--vkui--color_text_muted: #2C2D2E;
--vkui--color_text_muted--hover: #2A2C2F;
--vkui--color_text_muted--active: #282B2F;
--vkui--color_text_primary: #2C2D2E;
--vkui--color_text_primary--hover: #2A2C2F;
--vkui--color_text_primary--active: #282B2F;
--vkui--color_text_secondary: #87898F;
--vkui--color_text_secondary--hover: #82848C;
--vkui--color_text_secondary--active: #7C7F88;
--vkui--color_text_subhead: #797A80;
--vkui--color_text_subhead--hover: #74767D;
--vkui--color_text_subhead--active: #6F727B;
--vkui--color_text_tertiary: #AAADB3;
--vkui--color_text_tertiary--hover: #A3A7AE;
--vkui--color_text_tertiary--active: #9CA0AA;
--vkui--color_write_bar_icon: #005FF9;
--vkui--color_write_bar_icon--hover: #005CF1;
--vkui--color_write_bar_icon--active: #0059EA;
--vkui--color_accent_blue: #005FF9;
--vkui--color_accent_blue--hover: #005CF1;
--vkui--color_accent_blue--active: #0059EA;
--vkui--color_accent_gray: #A5A7AD;
--vkui--color_accent_gray--hover: #9EA1A9;
--vkui--color_accent_gray--active: #989BA4;
--vkui--color_accent_red: #ED0A34;
--vkui--color_accent_red--hover: #E40A34;
--vkui--color_accent_red--active: #DA0A35;
--vkui--color_accent_green: #0DC268;
--vkui--color_accent_green--hover: #0CBB66;
--vkui--color_accent_green--active: #0CB465;
--vkui--color_accent_orange: #FF9E00;
--vkui--color_accent_orange--hover: #F59802;
--vkui--color_accent_orange--active: #EB9305;
--vkui--color_accent_purple: #4F6DDC;
--vkui--color_accent_purple--hover: #4C69D6;
--vkui--color_accent_purple--active: #4966CF;
--vkui--color_accent_violet: #C15DF3;
--vkui--color_accent_violet--hover: #B95AEC;
--vkui--color_accent_violet--active: #B257E4;
--vkui--color_skeleton_from: #F3F3F5;
--vkui--color_skeleton_from--hover: #E9EAEE;
--vkui--color_skeleton_from--active: #E0E1E6;
--vkui--color_skeleton_to: #E0E1E6;
--vkui--color_skeleton_to--hover: #D7D9DF;
--vkui--color_skeleton_to--active: #CED0D8;
--vkui--color_accent_secondary: #FF9E00;
--vkui--color_accent_secondary--hover: #F59802;
--vkui--color_accent_secondary--active: #EB9305;
--vkui--color_text_link_visited: #528FDF;
--vkui--color_text_link_visited--hover: #4F8AD9;
--vkui--color_text_link_visited--active: #4B85D2;
--vkui--color_text_contrast: #FFFFFF;
--vkui--color_text_contrast--hover: #F5F5F7;
--vkui--color_text_contrast--active: #EBECEF;
--vkui--color_icon_contrast: #FFFFFF;
--vkui--color_icon_contrast--hover: #F5F5F7;
--vkui--color_icon_contrast--active: #EBECEF;
--vkui--color_link_contrast: #FFFFFF;
--vkui--color_link_contrast--hover: #F5F5F7;
--vkui--color_link_contrast--active: #EBECEF;
--vkui--color_text_positive: #0DC268;
--vkui--color_text_positive--hover: #0CBB66;
--vkui--color_text_positive--active: #0CB465;
--vkui--color_background_positive: #0DC268;
--vkui--color_background_positive--hover: #0CBB66;
--vkui--color_background_positive--active: #0CB465;
--vkui--color_icon_positive: #0DC268;
--vkui--color_icon_positive--hover: #0CBB66;
--vkui--color_icon_positive--active: #0CB465;
--vkui--color_stroke_positive: #0DC268;
--vkui--color_stroke_positive--hover: #0CBB66;
--vkui--color_stroke_positive--active: #0CB465;
--vkui--color_avatar_overlay: rgba(145, 147, 153, 0.48);
--vkui--color_avatar_overlay--hover: rgba(145, 147, 153, 0.52);
--vkui--color_avatar_overlay--active: rgba(145, 147, 153, 0.56);
--vkui--color_overlay_primary: rgba(0, 0, 0, 0.48);
--vkui--color_overlay_primary--hover: rgba(0, 0, 0, 0.52);
--vkui--color_overlay_primary--active: rgba(0, 0, 0, 0.56);
--vkui--color_transparent: transparent;
--vkui--color_transparent--hover: rgba(0, 16, 61, 0.04);
--vkui--color_transparent--active: rgba(0, 16, 61, 0.08);
--vkui--color_rating: #ffd400;
--vkui--color_rating--hover: #F5CC02;
--vkui--color_rating--active: #EBC405;
--vkui--color_button_contrast: rgba(255, 255, 255, 1);
--vkui--color_button_contrast--hover: rgba(255, 255, 255, 0.8);
--vkui--color_button_contrast--active: rgba(255, 255, 255, 0.6);
--vkui--color_thumb_error_background: rgba(237, 10, 52, 0.12);
--vkui--color_thumb_error_background--hover: rgba(237, 10, 52, 0.16);
--vkui--color_thumb_error_background--active: rgba(237, 10, 52, 0.2);
--vkui--color_bg_thumbnail: rgba(0, 16, 61, 0.08);
--vkui--color_bg_thumbnail--hover: rgba(0, 16, 61, 0.12);
--vkui--color_bg_thumbnail--active: rgba(0, 16, 61, 0.16);
--vkui--color_bg_contrast: #2C2D2E;
--vkui--color_bg_contrast--hover: #2A2C2F;
--vkui--color_bg_contrast--active: #282B2F;
--vkui--color_social_vk: #2787F5;
--vkui--color_social_vk--hover: #2582EE;
--vkui--color_social_vk--active: #247DE6;
--vkui--color_social_ok: #ee8208;
--vkui--color_social_ok--hover: #E47D0A;
--vkui--color_social_ok--active: #DB790C;
--vkui--color_social_mir: #117eda;
--vkui--color_social_mir--hover: #107AD4;
--vkui--color_social_mir--active: #1075CD;
--vkui--color_social_fb: #0561af;
--vkui--color_social_fb--hover: #055EAA;
--vkui--color_social_fb--active: #055BA6;
--vkui--color_social_twitter: #00bff3;
--vkui--color_social_twitter--hover: #00B8EC;
--vkui--color_social_twitter--active: #00B1E4;
--vkui--color_social_dribbble: #ea4c89;
--vkui--color_social_dribbble--hover: #E14A86;
--vkui--color_social_dribbble--active: #D74783;
--vkui--color_social_behance: #0057ff;
--vkui--color_social_behance--hover: #0054F7;
--vkui--color_social_behance--active: #0051EF;
--vkui--color_palette_red1: #fc2c38;
--vkui--color_palette_red1--hover: #F22B38;
--vkui--color_palette_red1--active: #E82A38;
--vkui--color_palette_red2: #eb1981;
--vkui--color_palette_red2--hover: #E2197E;
--vkui--color_palette_red2--active: #D8187C;
--vkui--color_palette_red3: #ff71bb;
--vkui--color_palette_red3--hover: #F56DB6;
--vkui--color_palette_red3--active: #EB69B1;
--vkui--color_palette_orange1: #ff8b2e;
--vkui--color_palette_orange1--hover: #F5862F;
--vkui--color_palette_orange1--active: #EB812F;
--vkui--color_palette_orange2: rgba(255, 158, 0, 0.12);
--vkui--color_palette_orange2--hover: rgba(255, 158, 0, 0.16);
--vkui--color_palette_orange2--active: rgba(255, 158, 0, 0.2);
--vkui--color_palette_yellow1: #ffc311;
--vkui--color_palette_yellow1--hover: #F5BC13;
--vkui--color_palette_yellow1--active: #EBB515;
--vkui--color_palette_green1: #aee113;
--vkui--color_palette_green1--hover: #A7D915;
--vkui--color_palette_green1--active: #A0D016;
--vkui--color_palette_green2: #59c354;
--vkui--color_palette_green2--hover: #55BC53;
--vkui--color_palette_green2--active: #52B552;
--vkui--color_palette_green3: #37eb94;
--vkui--color_palette_green3--hover: #35E291;
--vkui--color_palette_green3--active: #33D98D;
--vkui--color_palette_green4: #00b1b3;
--vkui--color_palette_green4--hover: #00ABAE;
--vkui--color_palette_green4--active: #00A4AA;
--vkui--color_palette_green5: rgba(92, 186, 56, 0.12);
--vkui--color_palette_green5--hover: rgba(92, 186, 56, 0.16);
--vkui--color_palette_green5--active: rgba(92, 186, 56, 0.2);
--vkui--color_palette_green6: rgba(0, 230, 180, 0.08);
--vkui--color_palette_green6--hover: rgba(0, 230, 180, 0.12);
--vkui--color_palette_green6--active: rgba(0, 230, 180, 0.16);
--vkui--color_palette_blue1: #2951ff;
--vkui--color_palette_blue1--hover: #274EF7;
--vkui--color_palette_blue1--active: #264CEF;
--vkui--color_palette_blue2: #00abf2;
--vkui--color_palette_blue2--hover: #00A5EB;
--vkui--color_palette_blue2--active: #009FE4;
--vkui--color_palette_blue3: #26dfdf;
--vkui--color_palette_blue3--hover: #24D7D9;
--vkui--color_palette_blue3--active: #23CED2;
--vkui--color_palette_blue4: rgba(0, 95, 249, 0.12);
--vkui--color_palette_blue4--hover: rgba(0, 95, 249, 0.16);
--vkui--color_palette_blue4--active: rgba(0, 95, 249, 0.2);
--vkui--color_palette_violet1: #6c00ff;
--vkui--color_palette_violet1--hover: #6801F7;
--vkui--color_palette_violet1--active: #6301EF;
--vkui--color_palette_violet2: #ae73ff;
--vkui--color_palette_violet2--hover: #A76FF7;
--vkui--color_palette_violet2--active: #A06BEF;
--vkui--color_alert: #c1341b;
--vkui--color_alert--hover: #B9331C;
--vkui--color_alert--active: #B2311E;
--vkui--color_bg_placeholder: #ffffff;
--vkui--color_bg_placeholder--hover: #F5F5F7;
--vkui--color_bg_placeholder--active: #EBECEF;
--vkui--color_bg_promo: #EBEEF5;
--vkui--color_bg_promo--hover: #E2E5EE;
--vkui--color_bg_promo--active: #D8DCE6;
--vkui--color_true_black: #000000;
--vkui--color_true_black--hover: #000102;
--vkui--color_true_black--active: #000105;
--vkui--color_true_white: #ffffff;
--vkui--color_true_white--hover: #F5F5F7;
--vkui--color_true_white--active: #EBECEF;
--vkui--octavius_color_thread_footer_background: #ebecef;
--vkui--octavius_color_thread_footer_background--hover: #E2E3E8;
--vkui--octavius_color_thread_footer_background--active: #D8DAE1;
--vkui--octavius_color_button_text: #333333;
--vkui--octavius_color_button_text--hover: #313233;
--vkui--octavius_color_button_text--active: #2F3034;
--vkui--octavius_color_button_icon: #333333;
--vkui--octavius_color_button_icon--hover: #313233;
--vkui--octavius_color_button_icon--active: #2F3034;
--vkui--octavius_color_button_background: transparent;
--vkui--octavius_color_button_background--hover: rgba(0, 16, 61, 0.04);
--vkui--octavius_color_button_background--active: rgba(0, 16, 61, 0.08);
--vkui--octavius_color_background--hover: #F5F5F7;
--vkui--octavius_color_background--active: #EBECEF;
--vkui--octavius_color_background_accent_toned: rgba(0, 95, 249, 0.12);
--vkui--octavius_color_background_accent_toned--hover: rgba(0, 95, 249, 0.16);
--vkui--octavius_color_background_accent_toned--active: rgba(0, 95, 249, 0.2);
--vkui--octavius_color_overlay_background--hover: rgba(0, 16, 61, 0.04);
--vkui--octavius_color_overlay_background--active: rgba(0, 16, 61, 0.08);
--vkui--octavius_color_header_background--hover: #005CF1;
--vkui--octavius_color_header_background--active: #0059EA;
--vkui--octavius_color_header_button_text: #FFFFFF;
--vkui--octavius_color_header_button_text--hover: #F5F5F7;
--vkui--octavius_color_header_button_text--active: #EBECEF;
--vkui--octavius_color_header_button_background: transparent;
--vkui--octavius_color_header_icon: #FFFFFF;
--vkui--octavius_color_header_icon--hover: #F5F5F7;
--vkui--octavius_color_header_icon--active: #EBECEF;
--vkui--octavius_color_header_text_secondary: #93969b;
--vkui--octavius_color_header_text_secondary--hover: #8D9197;
--vkui--octavius_color_header_text_secondary--active: #878B93;
--vkui--octavius_color_header_search_icon: #b6b8be;
--vkui--octavius_color_header_search_icon--hover: #AFB1B9;
--vkui--octavius_color_header_search_icon--active: #A7ABB4;
--vkui--octavius_color_header_search_chip_background: #F0F1F3;
--vkui--octavius_color_header_search_chip_background--hover: #E6E8EC;
--vkui--octavius_color_header_search_chip_background--active: #DDDFE4;
--vkui--octavius_color_header_search_chip_background_editable: #ffffff;
--vkui--octavius_color_header_search_chip_background_editable--hover: #F5F5F7;
--vkui--octavius_color_header_search_chip_background_editable--active: #EBECEF;
--vkui--octavius_color_header_search_chip_border_editable: rgba(0, 16, 61, 0.12);
--vkui--octavius_color_header_search_chip_border_editable--hover: rgba(0, 16, 61, 0.16);
--vkui--octavius_color_header_search_chip_border_editable--active: rgba(0, 16, 61, 0.2);
--vkui--octavius_color_header_search_background: #ffffff;
--vkui--octavius_color_header_search_background--hover: #F5F5F7;
--vkui--octavius_color_header_search_background--active: #EBECEF;
--vkui--octavius_color_header_search_background_collapsed: #ffffff;
--vkui--octavius_color_header_search_background_collapsed--hover: #F5F5F7;
--vkui--octavius_color_header_search_background_collapsed--active: #EBECEF;
--vkui--octavius_color_header_search_text: #2C2D2E;
--vkui--octavius_color_header_search_text--hover: #2A2C2F;
--vkui--octavius_color_header_search_text--active: #282B2F;
--vkui--octavius_color_header_search_text_collapsed: #87898F;
--vkui--octavius_color_header_search_text_collapsed--hover: #82848C;
--vkui--octavius_color_header_search_text_collapsed--active: #7C7F88;
--vkui--octavius_color_header_filter_text: rgba(255, 255, 255, .48);
--vkui--octavius_color_header_filter_text--hover: rgba(255, 255, 255, 0.52);
--vkui--octavius_color_header_filter_text--active: rgba(255, 255, 255, 0.56);
--vkui--octavius_color_header_progress: #FF9E00;
--vkui--octavius_color_header_progress--hover: #F59802;
--vkui--octavius_color_header_progress--active: #EB9305;
--vkui--octavius_color_portal_menu_background: #FFFFFF;
--vkui--octavius_color_portal_menu_background--hover: #F5F5F7;
--vkui--octavius_color_portal_menu_background--active: #EBECEF;
--vkui--octavius_color_sidebar_counter_background: transparent;
--vkui--octavius_color_sidebar_counter_background--hover: rgba(0, 16, 61, 0.04);
--vkui--octavius_color_sidebar_counter_background--active: rgba(0, 16, 61, 0.08);
--vkui--octavius_color_sidebar_counter_text--hover: #2A2C2F;
--vkui--octavius_color_sidebar_counter_text--active: #282B2F;
--vkui--octavius_color_sidebar_item_background: transparent;
--vkui--octavius_color_sidebar_scrollbar--hover: rgba(0, 16, 61, 0.12);
--vkui--octavius_color_sidebar_scrollbar--active: rgba(0, 16, 61, 0.16);
--vkui--octavius_color_sidebar_item_icon--hover: #313233;
--vkui--octavius_color_sidebar_item_icon--active: #2F3034;
--vkui--octavius_color_sidebar_item_text--hover: #313233;
--vkui--octavius_color_sidebar_item_text--active: #2F3034;
--vkui--octavius_color_sidebar_item_text_active--hover: #2A2C2F;
--vkui--octavius_color_sidebar_item_text_active--active: #282B2F;
--vkui--octavius_color_sidebar_item_icon_active--hover: #2A2C2F;
--vkui--octavius_color_sidebar_item_icon_active--active: #282B2F;
--vkui--octavius_color_sidebar_item_icon_primary--hover: #2A2C2F;
--vkui--octavius_color_sidebar_item_icon_primary--active: #282B2F;
--vkui--octavius_color_sidebar_item_icon_secondary--hover: rgba(51, 51, 51, 0.68);
--vkui--octavius_color_sidebar_item_icon_secondary--active: rgba(51, 51, 51, 0.72);
--vkui--octavius_color_sidebar_item_text_secondary--hover: rgba(51, 51, 51, 0.68);
--vkui--octavius_color_sidebar_item_text_secondary--active: rgba(51, 51, 51, 0.72);
--vkui--octavius_color_sidebar_short_item_icon: #333333;
--vkui--octavius_color_sidebar_short_item_icon--hover: #313233;
--vkui--octavius_color_sidebar_short_item_icon--active: #2F3034;
--vkui--octavius_color_sidebar_short_item_text: #333333;
--vkui--octavius_color_sidebar_short_item_text--hover: #313233;
--vkui--octavius_color_sidebar_short_item_text--active: #2F3034;
--vkui--octavius_color_sidebar_short_item_text_active: #2C2D2E;
--vkui--octavius_color_sidebar_short_item_text_active--hover: #2A2C2F;
--vkui--octavius_color_sidebar_short_item_text_active--active: #282B2F;
--vkui--octavius_color_sidebar_short_item_icon_active: #2C2D2E;
--vkui--octavius_color_sidebar_short_item_icon_active--hover: #2A2C2F;
--vkui--octavius_color_sidebar_short_item_icon_active--active: #282B2F;
--vkui--octavius_color_sidebar_short_item_icon_secondary: #A5A7AD;
--vkui--octavius_color_sidebar_short_item_icon_secondary--hover: #9EA1A9;
--vkui--octavius_color_sidebar_short_item_icon_secondary--active: #989BA4;
--vkui--octavius_color_sidebar_short_item_text_secondary: #87898F;
--vkui--octavius_color_sidebar_short_item_text_secondary--hover: #82848C;
--vkui--octavius_color_sidebar_short_item_text_secondary--active: #7C7F88;
--vkui--octavius_color_sidebar_compose_button_background: #ffffff;
--vkui--octavius_color_sidebar_compose_button_background--hover: #F5F5F7;
--vkui--octavius_color_sidebar_compose_button_background--active: #EBECEF;
--vkui--octavius_color_sidebar_compose_button_text: #2c2d2e;
--vkui--octavius_color_sidebar_compose_button_text--hover: #2A2C2F;
--vkui--octavius_color_sidebar_compose_button_text--active: #282B2F;
--vkui--octavius_color_sidebar_compose_button_icon: #2c2d2e;
--vkui--octavius_color_sidebar_compose_button_icon--hover: #2A2C2F;
--vkui--octavius_color_sidebar_compose_button_icon--active: #282B2F;
--vkui--octavius_color_content_scrollbar--hover: rgba(0, 16, 61, 0.12);
--vkui--octavius_color_content_scrollbar--active: rgba(0, 16, 61, 0.16);
--vkui--octavius_color_icon_unread: #005FF9;
--vkui--octavius_color_icon_unread--hover: #005CF1;
--vkui--octavius_color_icon_unread--active: #0059EA;
--vkui--octavius_color_icon_favorite: #fc2c38;
--vkui--octavius_color_icon_favorite--hover: #F22B38;
--vkui--octavius_color_icon_favorite--active: #E82A38;
--vkui--octavius_color_icon_order: #ff54aa;
--vkui--octavius_color_icon_order--hover: #F551A6;
--vkui--octavius_color_icon_order--active: #EB4FA1;
--vkui--octavius_color_icon_finance: #2fc885;
--vkui--octavius_color_icon_finance--hover: #2DC182;
--vkui--octavius_color_icon_finance--active: #2BB97F;
--vkui--octavius_color_icon_registration: #ff9e00;
--vkui--octavius_color_icon_registration--hover: #F59802;
--vkui--octavius_color_icon_registration--active: #EB9305;
--vkui--octavius_color_icon_travel: #ba34fc;
--vkui--octavius_color_icon_travel--hover: #B333F4;
--vkui--octavius_color_icon_travel--active: #AB31ED;
--vkui--octavius_color_icon_event: #09a6fa;
--vkui--octavius_color_icon_event--hover: #09A0F2;
--vkui--octavius_color_icon_event--active: #089AEB;
--vkui--octavius_color_icon_fees: #e60000;
--vkui--octavius_color_icon_fees--hover: #DD0102;
--vkui--octavius_color_icon_fees--active: #D40105;
--vkui--octavius_color_sidebar_icon_unread--hover: #005CF1;
--vkui--octavius_color_sidebar_icon_unread--active: #0059EA;
--vkui--octavius_color_sidebar_icon_favorite--hover: #F22B38;
--vkui--octavius_color_sidebar_icon_favorite--active: #E82A38;
--vkui--octavius_color_sidebar_icon_order--hover: #F551A6;
--vkui--octavius_color_sidebar_icon_order--active: #EB4FA1;
--vkui--octavius_color_sidebar_icon_finance--hover: #2DC182;
--vkui--octavius_color_sidebar_icon_finance--active: #2BB97F;
--vkui--octavius_color_sidebar_icon_registration--hover: #F59802;
--vkui--octavius_color_sidebar_icon_registration--active: #EB9305;
--vkui--octavius_color_sidebar_icon_travel--hover: #B333F4;
--vkui--octavius_color_sidebar_icon_travel--active: #AB31ED;
--vkui--octavius_color_sidebar_icon_event--hover: #09A0F2;
--vkui--octavius_color_sidebar_icon_event--active: #089AEB;
--vkui--octavius_color_sidebar_icon_fees--hover: #DD0102;
--vkui--octavius_color_sidebar_icon_fees--active: #D40105;
--vkui--octavius_color_list_letter_background: #ffffff;
--vkui--octavius_color_list_letter_background--hover: #f5f5f7;
--vkui--octavius_color_list_letter_background--active: #ebecef;
--vkui--octavius_color_list_letter_separator: #DADCE0;
--vkui--octavius_color_list_letter_separator--hover: #D1D4D9;
--vkui--octavius_color_list_letter_separator--active: #C9CCD3;
--vkui--octavius_color_list_letter_adv_background: #F0F5FF;
--vkui--octavius_color_list_letter_adv_background--hover: #E6ECF7;
--vkui--octavius_color_list_letter_adv_background--active: #DDE3EF;
--vkui--octavius_color_letter_list_text_unread: #2c2d2e;
--vkui--octavius_color_letter_list_text_unread--hover: #2A2C2F;
--vkui--octavius_color_letter_list_text_unread--active: #282B2F;
--vkui--octavius_color_dataset_background: #FFFFFF;
--vkui--octavius_color_dataset_background--hover: #F5F5F7;
--vkui--octavius_color_dataset_background--active: #EBECEF;
--vkui--octavius_color_empty_state_text--hover: #313233;
--vkui--octavius_color_empty_state_text--active: #2F3034;
--vkui--octavius_color_layout_border--hover: #D7DAE1;
--vkui--octavius_color_layout_border--active: #CED1DA;
--vkui--octavius_color_layout_letter_border: #E0E2E8;
--vkui--octavius_color_layout_letter_border--hover: #D7DAE1;
--vkui--octavius_color_layout_letter_border--active: #CED1DA;
--vkui--octavius_color_empty_state_text_link--hover: #0058CB;
--vkui--octavius_color_empty_state_text_link--active: #0055C5;
--vkui--octavius_color_letter_preview_background_primary: #F9F9FA;
--vkui--octavius_color_letter_preview_background_primary--hover: #EFF0F2;
--vkui--octavius_color_letter_preview_background_primary--active: #E5E6EB;
--vkui--octavius_color_letter_preview_background_secondary: #F3F3F5;
--vkui--octavius_color_letter_preview_background_secondary--hover: #E9EAEE;
--vkui--octavius_color_letter_preview_background_secondary--active: #E0E1E6;
--vkui--octavius_color_letter_contact_background_alpha: transparent;
--vkui--octavius_color_letter_contact_background_alpha--hover: rgba(0, 16, 61, 0.04);
--vkui--octavius_color_letter_contact_background_alpha--active: rgba(0, 16, 61, 0.12);
--vkui--octavius_color_notification_border--hover: #F5F5F7;
--vkui--octavius_color_notification_border--active: #EBECEF;
--vkui--octavius_text_decoration_empty_state_text_link--active: underline;
--vkui--octavius_color_background: #8a8fa3;
--vkui--octavius_color_header_background: #414553;
--vkui--octavius_color_overlay_background: rgba(65, 69, 83, 0.64);
--vkui--octavius_color_notification_border: #8a8fa3;
--vkui--octavius_color_sidebar_scrollbar: rgba(255, 255, 255, 0.48);
--vkui--octavius_color_content_scrollbar: rgba(255, 255, 255, 0.32);
--vkui--octavius_color_header_button_background--hover: rgba(0, 0, 0, 0.2);
--vkui--octavius_color_header_button_background--active: rgba(0, 0, 0, 0.24);
--vkui--octavius_color_sidebar_item_text: #ffffff;
--vkui--octavius_color_sidebar_item_icon: #ffffff;
--vkui--octavius_color_sidebar_item_text_active: #ffffff;
--vkui--octavius_color_sidebar_item_icon_active: #ffffff;
--vkui--octavius_color_sidebar_item_icon_secondary: rgba(255, 255, 2555, .64);
--vkui--octavius_color_sidebar_item_text_secondary: rgba(255, 255, 2555, .64);
--vkui--octavius_color_sidebar_item_background--hover: rgba(0, 0, 0, 0.2);
--vkui--octavius_color_sidebar_item_background--active: rgba(0, 0, 0, 0.24);
--vkui--octavius_text_shadow_sidebar_item_text: 0 1px 0 rgba(0, 0, 0, 0.24);
--vkui--octavius_color_sidebar_counter_text: #ffffff;
--vkui--octavius_color_sidebar_item_icon_primary: #ffffff;
--vkui--octavius_color_sidebar_item_button_background: rgba(255, 255, 255, 0.16);
--vkui--octavius_color_sidebar_item_button_background--hover: rgba(255, 255, 255, 0.12);
--vkui--octavius_color_sidebar_item_button_background--active: rgba(255, 255, 255, 0.24);
--vkui--octavius_color_empty_state_text: #ffffff;
--vkui--octavius_icon_background_contrast_color: #ffffff;
--vkui--octavius_color_sidebar_icon_unread: #ffffff;
--vkui--octavius_color_sidebar_icon_favorite: #ffffff;
--vkui--octavius_color_sidebar_icon_order: #ffffff;
--vkui--octavius_color_sidebar_icon_finance: #ffffff;
--vkui--octavius_color_sidebar_icon_registration: #ffffff;
--vkui--octavius_color_sidebar_icon_travel: #ffffff;
--vkui--octavius_color_sidebar_icon_event: #ffffff;
--vkui--octavius_color_sidebar_icon_fees: #ffffff;
--vkui--octavius_color_empty_state_text_link: #ffffff;
--vkui--octavius_text_decoration_empty_state_text_link: underline;
--vkui--octavius_text_decoration_empty_state_text_link--hover: none;
--vkui--octavius_color_layout_border: transparent;
--ph-color-background-content--active: #EBECEF;
--ph-color-text-primary: #2C2D2E;
--ph-color-text-secondary: #87898F;
--ph-color-transparent--hover: rgba(0, 16, 61, 0.04);
--ph-color-transparent--active: rgba(0, 16, 61, 0.08);
--ph-color-text-accent: #005FF9;
--ph-color-text-accent--hover: #005CF1;
--ph-color-text-accent--active: #0059EA;
--ph-color-icon-primary: #2C2D2E;
--ph-color-icon-secondary: #A5A7AD;
--ph-color-separator-primary: rgba(0, 16, 61, 0.12);
--ph-color-counter-accent-background: #005FF9;
--ph-color-text-link: #005BD1;
--ph-color-background-modal: #FFFFFF;
--ph-color-background-modal--hover: #F5F5F7;
--ph-color-background-modal--active: #EBECEF;
--ph-custom-shadow-projects-menu: 0px 16px 48px rgba(18, 25, 43, 0.28);
--ph-custom-color-main-block: #FFFFFF;
--ph-custom-color-main-block--hover: #F5F5F7;
--ph-custom-color-main-block--active: #EBECEF;
--ph-custom-color-account-add: rgba(0, 16, 61, 0.06);
--ph-custom-color-tooltip-bg: #FFFFFF;
--ph-custom-color-tooltip-text: #2C2D2E;
--ph-custom-color-tooltip-shadow: rgba(0, 16, 61, 0.32);
--ph-custom-color-promo-marusia-shadow: rgba(0, 11, 41, 0.2);
--ph-custom-color-sidebar-shadow: rgba(0, 11, 41, 0.2);
--ph-custom-color-project-dark-bg--hover: rgba(0, 16, 61, 0.04);
--ph-custom-color-project-dark-bg--active: rgba(0, 16, 61, 0.08);
font-weight: normal;
fill: var(--vkui--color_icon_primary,#333);
-webkit-tap-highlight-color: rgba(167,216,255,0);
-webkit-font-smoothing: antialiased;
font-family: var(--vkui--octavius_font_family_global,var(--vkui--font_family_base,Helvetica,Arial,sans-serif));
letter-spacing: var(--vkui--font_text--letter_spacing--regular,normal);
--paradigm--margin_tooltip--touch: 0px;
--paradigm--margin_tooltip--desktop_s: 0px;
color: #333333;
word-break: break-word;
-webkit-user-modify: read-write;
-webkit-line-break: after-white-space;
unicode-bidi: isolate;
outline: none;
text-align: left;
box-sizing: border-box;
white-space: normal;
cursor: text;
font-size: 15px;
line-height: 140%;
overflow-y: hidden;
overflow-x: auto;
word-wrap: break-word;
width: 100%;
padding: 0 20px;
