.yourcard_header {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
    grid-template-rows: 55px;
    grid-template-areas: 
    "header_yourcard header_cards header_logo header_login header_cart";
}

.header_burger {
    grid-area: header_yourcard;
}

.yourcard_header_yourcard {
    grid-area: header_yourcard;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.yourcard_header_cards {
    grid-area: header_cards;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.yourcard_header_logo {
    grid-area: header_logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yourcard_header_login {
    grid-area: header_login;
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
    align-items: center;
}
.yourcard_header_cart {
    grid-area: header_cart;
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    align-items: center;
}

.yourcard_body a {
    text-decoration: none;
}

.yourcard_body li {
    list-style: none;
    position: relative;
}

.yourcard_container {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 8fr;
    grid-template-rows: calc(100vh - 55px);
    grid-template-areas: 
    "yourcard_left yourcard_right yourcard_center"
}

.yourcard_menu_screen {
    grid-area: yourcard_left;
    background-image: url(/img/your_photo_911_left.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    // opacity: 0.5;
}

.yourcard_menu {
    position: relative;
    display: flex;
    grid-area: yourcard_left;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    left: 100%;
    z-index: 3;
    transition: left 1s ease 0s;
}

.yourcard_menu._active_header {
    left: 0;
    transition: left 1s ease 0s;
} 

.yourcard_blocks {
    position: relative;
    grid-area: yourcard_right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    right: 100%;
    z-index: 1;
    transition: right 1s ease 0s;
}

.yourcard_blocks li {
    margin-top: 30px;
}

.yourcard_blocks_list {
    padding-inline-start: 20px;
}

.yourcard_blocks.is-act {
    // display: flex;
    // flex-direction: column;
    right: 0;
    transition: right 1s ease 0s;
}

.yourcard_center_screen {
    grid-area: yourcard_right / yourcard_right /
    yourcard_center / yourcard_center;
    background-image: url(/img/your_photo_911_center+.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: all 1s ease 1s;
    // opacity: 0.5;
}

// .yourcard_center_screen_left {

// }

.yourcard_center_screen._active_menu {
    z-index: 0;
    transition: all 0s ease 0s;
}



// .yourcard_center_screen._active_menu {
//     z-index: 0;
// }

.yourcard_menu_list, .yourcard_blocks_list {
    margin: 0;
}

.yourcard_menu_list li {
    margin-top: 30px;
    text-align: end;
}

.yourcard_menu_link, .yourcard_blocks_link {
    margin-right: 20px;
    color: @color_bg;
    text-shadow: @color_border 1px 1px 1px,
    @color_border -1px 1px 1px,
    @color_border -1px -1px 1px,
    @color_border 1px -1px 1px;
}


.yourcard_menu_link:hover, .yourcard_blocks a:hover {
    color: @color_hover_menu;
}

.yourcard_menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.yourcard_header_tab_yourcard._active_header, .yourcard_header_tab_cards._active_header {
    color: @color_cfb;
    // text-shadow: 0 0 1px;
}

.photo input {
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    background: none;
    border: none;
    font-weight: 300;
    padding: inherit;
}

.yourcard_envelope, .yourcard_envelope_addres, .yourcard_photo, .yourcard_text {
    grid-area: yourcard_center;
}

.yourcard_photo {
    border: @color_bg solid 1px;
    box-shadow: @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px;
    .mixin_card_size;
    margin: auto;
    z-index: 5;
}

// .yourcard_envelope {
//     position: relative;
// }

// .yourcard_envelope_background {
//     background-image: url(/img/your_photo_21.jpg);
//     width: 100%;
//     height: 100%;
//     // height: 100vh;
//     // position: relative;
// }


// .yourcard_envelope_addres {
//     position: absolute;
//     bottom: 8%;
//     right: 6%;
// }

.envelope_addres {
    display: flex;
    flex-direction: column;
}

// .yourcard_footer {
//     grid-area: yourcard_footer;
// }


// .yourcard_menu nav {
//     margin-bottom: 10px;
// }

// .yourcard_menu_blocks a {
//     margin: 0 20px;    
// }

// .yourcard_menu_blocks nav, .yourcard_menu_block_data form {
//     margin-top: 10px;
// }

// .photo input {
//     border: none;
//     background-color: @color_bg;
//     padding: 0;
//     color: inherit;
//     font-size: inherit;
//     font-family: inherit;
// }

// .tab_item, .tab_blocks a, .cards_item, .card_body_item a {
//     margin: 0 20px;
//     transition: @transition; 
// }

// .envelope_body {
//     // width: 100%;
//     position: relative;
//     // display: grid;
//     // grid-template-columns: 1fr 1fr;
//     // grid-template-rows: 1fr 1fr;
//     // grid-template-areas: 
//     // "envelope_hi envelope_stamp"
//     // "envelope_null envelope_addres";
//     margin: auto;
//     // .mixin_envelope_size();
//     // background-image: url(img/paper_12.jpg);
//     // background-color: white;
//     opacity: 1;
//     transition: @transition; 
//     box-shadow: @box_shadow_card;
// }

// .envelope_addres {
//     // grid-area: envelope_addres;
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     bottom: 5%;
//     // right: 0;
// }

// .blocks_text {
//     display: flex;
//     align-items: flex-start;
// }

// .block_text {
//     display: flex;
// }

// .text_item {
//     display: flex;
//     height: 45px;
//     padding-top: 10px;
//     position: relative;
//     top: -2px;
// }

// button {
//     border: none;
//     background-color: none;
//     padding: 0 10px;
// }

// button svg {
//     fill: @color_tx;
// }

// .envelope_body._active {
//     opacity: 0;
// }

// .is-act {
//     color: @color_cfb;
// } 