.yourcard_text {
    // display: grid;
    // grid-template-columns: 1fr 6fr 1fr 5fr 1.8fr 1fr;
    // grid-template-rows: 1fr 2fr 1fr 5fr 1fr;
    opacity: 0;
    border: @color_cards solid 1px;
    box-shadow: @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px;
    background-color: @color_light;
    .mixin_card_size;
    margin: auto;
    transition: all 0.3s linear 0s;
}