.yourcard_envelope, .yourcard_text, .yourcard_address {
    grid-column: 5/6;
    grid-row: 2/3;
    .mixin_card_size;
}

.yourcard_photo {
    grid-column: 4/7;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    overflow: hidden;
}

.yourcard_envelope {
    position: relative;
}

.yourcard_address {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 5fr 1.8fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 5fr 1fr;
    display: none;
    border: @color_cards solid 1px;
    box-shadow: @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px,
    @color_border 0 0 1px;
    background-color: @color_light;
    margin: auto;
    transition: all 0.2s linear 0s;
}

.yourcard_address.active {
    display: inherit;
    transition: all 0.2s linear 0.1s;
}

.address_logo {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    margin: auto;
}

.address_logo_img, .address_mark_img {
    width: 100%;
    height: 100%;
}

.address_mark {
    grid-column: 5/6;
    grid-row: 2/3;
}

.address_area {
    grid-column: 4/6;
    grid-row: 4/5;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.address_index_city {
    display: flex;
    width: 100%;
}

.address_area input, .address_area textarea {
    border: solid @color_cornflower_alfa 1px;
    font-size: 18px;
    text-align: end;
    color: @color_text_header;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    resize: none;
}

.address_index_city input:first-child {
    width: 33%;
}

.address_index_city input:last-child {
    width: 67%;
}

// .yourcard_photo {
//     border: @color_cards solid 1px;
//     box-shadow: @color_border 0 0 1px,
//     @color_border 0 0 1px,
//     @color_border 0 0 1px,
//     @color_border 0 0 1px;
//     .mixin_card_size;
//     margin: auto;
//     z-index: 5;
// }

// .yourcard_photo.active {
//     opacity: 0;
//     transition: all 0.25s ease 0s;
// }

// .envelope_address {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
// }