@color-body-bkg: #f0f5fd;
@color-header-bkg: #dbe7fb;
@color-nav-bkg: #e6f2ff;
@color-main-bkg: #eff6fe;
@color-footer-bkg: #ffffff;
@color-envelope-bkg: #ffffff;
@color-nav: #666666;
@color-nav-button-bkg: #dbe7fb;
@color-nav-button-not-active: rgba(102,102,102,0.7);
@color-nav-button-not-active-color: rgba(102,102,102,0.6);
@color-nav-button-bkg-hover: #ebf4ff;
@color-label: #808080;
