@color-body-bkg: #f0f5fd;
@color-header-bkg: #dbe7fb;
@color-nav-bkg: #e6f2ff;
@color-main-bkg: #eff6fe;
@color-footer-bkg: #ffffff;
@color-envelope-bkg: #ffffff;
@color-nav: #666666;
@color-label: #808080;
@color-fieldset-border: #b3b3b3;
