@color-body-bkg: #f0f5fd;
@color-header-bkg: #dbe7fb;
@color-nav-bkg: #e6f2ff;
@color-main-bkg: #eff6fe;
@color-footer-bkg: #ffffff;
@color-envelope-bkg: #ffffff;
@color-nav: #808080;
@color-nav-button-bkg: #dbe7fb;
@color-nav-button-not-active: #e6e6e6;
@color-nav-button-not-active-color: #999999;
@color-nav-button-bkg-hover: #e8eaed;
@color-label: #666666;
@color-nav-border: rgba(0,0,102,0);
@color-nav-border-hover: rgba(0,0,102,0.8);