@import url(less/color.less);
// @import url(less/fonts.less);
@import url(less/mixin.less);
@import url(less/burger.less);
@import url(less/cards.less);
@import url(less/logo_hi.less);
@import url(less/header.less);
@import url(less/border_card.less);
@import url(less/rain.less);
@import url(less/yourcard_envelope.less);
@import url(/less/yourcard_text.less);
@import url(/less/login.less);
// @import url(/less/submenu_photo.less);
// @import url(/less/yourcard_photo.less);
@import url(/croppic/croppic.css);
// @import url(less/hicoin.less);

html {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}

main a, header a, main a:link, header a:link {
    text-decoration: none;
    color: @color_light;
}

main a:hover {
    color: @color_itten_orange;
}

.wrapper li {
    list-style: none;
}

body {
    margin: 0;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    grid-template-rows: 40px auto 40px;
}

.screen {
    grid-column: 1/4;
    grid-row: 1/4;
    background-image: url(/img/your_photo_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;     
}

.rain_header {
    grid-column: 1/4;
    grid-row: 1/2;
}

.main {
    display: grid;
    grid-column: 1/4;
    grid-row: 2/4;
    grid-template-columns: 0.5fr 1fr 1fr 0.75fr 5.5fr 0.75fr 0.5fr;
    grid-template-rows: 1fr auto 1fr;
}

// .text_hi {
//     grid-column: 2/7;
//     grid-row: 1/4;
//     font-size: 102px;
//     font-weight: 100;
//     color: @color_rain_login_rgba;
// }

// .text_hi.active {
//     display: none;
// }

.yourcard_menu {
    position: relative;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    bottom: 150%;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

.yourcard_menu ul, .yourcard_submenu ul, .yourcard_submenu_photo ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding-inline-start: 0;
}

.yourcard_menu_tab.active {
    color: @color_itten_orange;
}

.yourcard_menu li, .yourcard_submenu_tab li, .yourcard_submenu_photo li {
    height: 60px;
}

.yourcard_menu.active {
    bottom: 0;
    transition: all 0.4s ease 0.6s;
} 

.yourcard_submenu {
    position: relative;
    display: flex;
    grid-column: 3/4;
    grid-row: 2/3;
    bottom: 150%;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

.yourcard_submenu.active {
    bottom: 0;
    transition: all 0.4s ease 0s;
}

.tab_span {
    color: @color_itten_orange;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    grid-column: 7/8;
    grid-row: 1/4;
    opacity: 1;
    transition: all 0.4s linear 0.1s;
}

.footer.active {
    opacity: 0;
    transition: all 0.4s linear 0.6s;
}

.footer span {
    margin-right: 8px;
    color: @color_light;
    height: 14px;
    width: 0px;
    font-size: 10px;
    transform: rotate(-90deg);
}

.yourcar_menu_tb.active {
    color: @color_itten_orange;
}

.yourcard_menu nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.photo input {
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    background: none;
    border: none;
    // font-weight: 300;
    padding: inherit;
}