@import url(less/color.less);
@import url(less/fonts.less);
@import url(less/mixin.less);
@import url(less/burger.less);
@import url(less/your_card.less);
@import url(less/cards.less);
@import url(less/logo_hi.less);


html {
    font-size: 18px;
    font-family: 'BarlowSemiCondensed';
    font-weight: 400;
    color: @color_border;
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    flex-direction: column;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 55px auto 55px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.header {
    width: 100%;
    grid-area: header;
    z-index: 3;
    background-color: @color_background_header;
    box-shadow: @box_shadow_header;
}

.header_body {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    align-items: center;
    z-index: 3;
}

.footer {
    grid-area: footer;
    height: 55px;
    background-color: @color_bg;
    z-index: 3;
    box-shadow: @box_shadow_footer;
}

.footer_body {
    font-size: 0.8em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    display: flex;
    height: 54px;
}

a {
    text-decoration: none;
    color: @color_border;
}

.logo_hidragonfly {
    display: flex;
    flex-direction: column;
}

.photo input {
    border: none;
    background-color: @color_bg;
}

// .logo_hidragonfly p:first-child {
//     margin: 0;
//     padding-left: 20px;
//     font-size: 24px;
//     color: @color_cfb;
//     z-index: 3;
// }

// .logo_hidragonfly p {
//     margin: 0 0 6px 20px;
//     // padding: 0 0 10px 20px;
//     font-weight: 500;
//     font-size: 14px;
//     font-style: italic;
//     text-align: center;
//     z-index: 3;
// }

a:hover {
    color: @color_cfb;
}

.logo_hidragonfly:hover p:last-child {
    color: @color_border;
}

.footer_block p {
    margin: 0;
}

.footer_block:last-child p {
    text-align: right;
}
.logo_body {
    display: flex;
    align-items: center;
}

.menu_login {
    display: flex;
    justify-content: flex-end;
    width: 216px;
}

.menu_icon {
    display: none;
}


.login_list {
    display: flex;
    position: relative;
    margin: 0;
    z-index: 2;
    padding-inline-start: 0px;
}

li {
    list-style: none;
}

.login_item {
    margin: 0 20px;
}

.login_item:last-child {
    margin: 0 0 0 20px;
}

.cards_body_list {
    display: flex;
    margin: 0;
    padding-inline-start: 0;
    justify-content: center;
}

.card_body_item {
    margin: 10px 20px;
}

// ----- COLLAGE html -----

.colage_body {
    grid-area: main;
    height: calc(100vh - 110px);
    background-color: @color_bg;
    overflow: hidden;
}

.square {
    height: calc(100vh - 110px);
    width: calc(100vw - 110px);
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "circle";
}

.collage_img {
    margin: auto;
    grid-area: circle;
}

.img {
width: 103%;
box-shadow: rgba(60, 64, 67, 0.5) 0px 0px 4px 2px, rgba(60, 64, 67, 0.25) 0px 0px 6px 2px;
}

.img_1 {
    transform: rotate(0deg) translate(@img_position);
}

.img_2 {
    transform: rotate(350deg) translate(@img_position);
}

.img_3 {
    transform: rotate(340deg) translate(@img_position);
}

.img_4 {
    transform: rotate(330deg) translate(@img_position);
}

.img_5 {
    transform: rotate(320deg) translate(@img_position);
}

.img_6 {
    transform: rotate(310deg) translate(@img_position);
}

.img_7 {
    transform: rotate(300deg) translate(@img_position);
}

.img_8 {
    transform: rotate(290deg) translate(@img_position);
}

.img_9 {
    transform: rotate(280deg) translate(@img_position);
}

.img_10 {
    transform: rotate(270deg) translate(@img_position);
}

.img_11 {
    transform: rotate(260deg) translate(@img_position);
}

.img_12 {
    transform: rotate(250deg) translate(@img_position);
}

.img_13 {
    transform: rotate(240deg) translate(@img_position);
}

.img_14 {
    transform: rotate(230deg) translate(@img_position);
}

.img_15 {
    transform: rotate(220deg) translate(@img_position);
}

.img_16 {
    transform: rotate(210deg) translate(@img_position);
}

.img_17 {
    transform: rotate(200deg) translate(@img_position);
}

.img_18 {
    transform: rotate(190deg) translate(@img_position);
}

.img_19 {
    transform: rotate(180deg) translate(@img_position);
}

.img_20 {
    transform: rotate(170deg) translate(@img_position);
}

.img_21 {
    transform: rotate(160deg) translate(@img_position);
}

.img_22 {
    transform: rotate(150deg) translate(@img_position);
}

.img_23 {
    transform: rotate(140deg) translate(@img_position);
}

.img_24 {
    transform: rotate(130deg) translate(@img_position);
}

.img_25 {
    transform: rotate(120deg) translate(@img_position);
}

.img_26 {
    transform: rotate(110deg) translate(@img_position);
}

.img_27 {
    transform: rotate(100deg) translate(@img_position);
}

.img_28 {
    transform: rotate(90deg) translate(@img_position);
}

.img_29 {
    transform: rotate(80deg) translate(@img_position);
}

.img_30 {
    transform: rotate(70deg) translate(@img_position);
}

.img_31 {
    transform: rotate(60deg) translate(@img_position);
}

.img_32 {
    transform: rotate(50deg) translate(@img_position);
}

.img_33 {
    transform: rotate(40deg) translate(@img_position);
}

.img_34 {
    transform: rotate(30deg) translate(@img_position);
}

.img_35 {
    transform: rotate(20deg) translate(@img_position);
}

.img_36 {
    transform: rotate(10deg) translate(56%, 0px);
}

// ----- / COLLAGE html -----
