.rain {
    opacity: 0;
    background-color: @color_rain_rgba;
    transition: all 0.4s ease 0s;
}

.rain.active {
    opacity: 1;
    background-color: @color_rain_rgba;
    transition: all 0.4s ease 0.6s;
}

.rain_top {
    grid-column: 6/7;
    grid-row: 1/2;
}

.rain_left {
    grid-column: 1/6;
    grid-row: 1/4;
}

.rain_right {
    grid-column: 7/9;
    grid-row: 1/4;
}

.rain_bottom {
    grid-column: 6/7;
    grid-row: 3/4;
}